<h2 style="margin-left: 800px;margin-top: 30px;">Задание 1</h2>
<div class="content-container_users">
  <div *ngFor="let item of users" class="homework1">
    <p>{{(item).id}}</p>
    <p> {{(item).username}}</p>
  </div>
</div>

<h2 style="margin-left: 800px;margin-top: 30px;">Задание 2</h2>
<div class="content-container_users">
  <div *ngFor="let item of users" class="homework1">
    <p>{{$any(item).email}}</p>
  </div>
</div>

<!-- <h2 style="margin-left: 800px;margin-top: 30px;">Задание 3</h2>
<div class="content-container_users">
  <div *ngFor="let item of task3" class="homework1">
    <p>{{(item).id}}</p>
    <p>{{(item).name}}</p>
    <p>{{(item).address.city}}</p>
  </div>
</div> -->

<h2 style="margin-left: 800px;margin-top: 30px;">Задание 4</h2>
<div class="content-container_users">
  <div class="homework1" *ngFor="let item of task4">
    <p>{{(item).id}}</p>
    <p>{{(item).name}}</p>
    <p>{{(item).address.city}}</p>
  </div>
</div>

<h2 style="margin-left: 800px;margin-top: 30px;">Задание 5</h2>
<div class="content-container_users">
  <div *ngFor="let item of task5" class="homework1">
    <p>{{(item).id}}</p>
    <p>{{(item).name}}</p>
    <p>{{(item).address.city}}</p>
  </div>
</div>

<h2 style="margin-left: 800px;margin-top: 30px;">Задание 6</h2>
<div class="content-container_users">
  <div class="homework1" *ngFor="let item of task6">
    <p>{{(item).id}}</p>
    <p>{{(item).name}}</p>
    <p>{{(item).address.city}}</p>
    <p>{{(item).email}}</p>
  </div>
</div>

<h2 style="margin-left: 800px;margin-top: 30px;">Задание 7</h2>
<div class="content-container_users">
  <div class="homework1">
    <p>{{ask}}</p>
  </div>
</div>


<h2 style="margin-left: 800px;margin-top: 30px;">Задание 8</h2>
<div class="content-container_users">
  <div class="homework1" *ngFor="let item of task8">
      <p>{{ item.id }}</p>
      <p>{{ item.name }}</p>
      <p>{{ item.website }}</p>
  </div>
</div>

<!-- <h2 style="margin-left: 800px;margin-top: 30px;">Задание 9</h2>
<div class="content-container_users">
  <div class="homework1" *ngFor="let item of task9">
    <p>{{$any(item).id}}</p>
    <p>{{$any(item).name}}</p>
  </div>
</div> -->

<!-- <h2 style="margin-left: 800px;margin-top: 30px;">Задание 10</h2>
<div class="content-container_users">
  <div class="homework1" *ngFor="let item of task10">
    <p>{{$any(item).username}}</p>
  </div>
</div> -->