<div class="content-container">
    <div class="item-favorite-cards">
        <div *ngFor="let user of users;" class="item-favorite-cards__container">
          <div class="item-favorite-cards__item">
            <div class="cards-item__img">
              <img src="/assets/card-img.png" alt="">
            </div>
            <div class="cards-item__block-1">
              <div>{{user.name}}</div>
            </div>
            <div class="cards-item__footer">
              <div class="cards-item__footer-left">
                <div class="cards-item__footer-text"><strong>ID</strong>: {{user.id}}</div>
              </div>
              <div class="cards-item__footer-left">
                <div class="cards-item__footer-text"><strong>Email</strong>: {{user.email}}</div>
              </div>
              <div class="cards-item__footer-left">
                <div class="cards-item__footer-text"><strong>Website</strong>: {{user.website}}</div>
              </div>
              <button (click)="deleteUser(user.id)" class="cards-item__footer-btn">Удалить</button>
            </div>
          </div>
        </div>
    </div>
</div>