.title {
  max-width: 1320px;
  display: flex;
  margin: 8px auto;
  color: #3C3C3B;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.form-container {
  max-width: 1320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px;
  gap: 5px;
 
}

.content-container{
  margin: 50px;
}