<div class="content-container">
  <h2 class="title">Create ToDo</h2>
  <form class="form-container" [formGroup]="form">

    <mat-form-field class="mat-ff">
      <mat-label>Текст задачи:</mat-label>
      <input matInput
      formControlName="title">
    </mat-form-field>

    <mat-form-field class="mat-ff">
      <mat-label>Автор задачи:</mat-label>
      <input matInput
      formControlName="userID">
    </mat-form-field>

    <mat-form-field class="mat-ff">
      <mat-label>Задача завершена:</mat-label>
      <input matInput
      formControlName="completed">
    </mat-form-field>

    <button type="submit" (click)="submitForm()" mat-raised-button color="primary" [disabled] = "form.invalid">Create task</button>
  </form>
</div>


