<header>
  <div class="content">
    <div class="container">
      <nav class="nav">
        <div class="nav-container">
          <div class="menu-items-container">
            <p style="color: #fff">{{ date | date : "medium" }}</p>
            <img class="logo" src="/assets/logo.png" />
            <div class="menu-item white-color" routerLink="/">
              {{ headerItemFirst }}
            </div>
            <div class="menu-item white-color">{{ aboutCompany }}</div>
            <div class="menu-item white-color" *ngIf="isShowCatalog">
              {{ headerItemThird }}
            </div>
            <button
              (click)="isShowCatalog = !isShowCatalog"
              class="button"
              yellow
            >
              Скрыть/Показать каталог
            </button>
            <button (click)="changeMenuText()" class="button" yellow>
              Изменить текст
            </button>
          </div>
          <div class="header-info-container">
            <button
              routerLink="/users"
              routerLinkActive="active-link"
              class="button"
              yellow
              *ngIf="authService.isAdmin"
            >
              Юзеры
            </button>
            <button
              href="#"
              class="nav__link"
              *ngIf="authService.isAdmin === true"
              routerLink="/admin"
              (click)="checkIsAdmin()"
              class="button"
              yellow
              >Админ
             </button>
            <button
              routerLink="/todos"
              routerLinkActive="active-link"
              class="button"
              yellow
              *ngIf="authService.isAdmin"
            >
              Задачи
            </button>
            <div class="call">
              <img src="/assets/call.svg" alt="call" />
              <a class="tel" href="tel:+79650842929">+7(965)084-29-29</a>
            </div>
            <app-svg-icon></app-svg-icon>
            <button class="cart-button header-info-container" yellow>
              <img src="assets/buy.svg" alt="cart" />
              <span style="margin-left: 10px"> Пусто </span>
            </button>
            <button *ngIf="(authService.user$ | async) === null" (click)="openLoginDialog()" class="button" yellow>
             Войти
           </button>
           <button *ngIf="(authService.user$ | async)!== null" (click)="logout()" class="button" yellow>
             Выйти
           </button>           
          </div>
        </div>
      </nav>
      <nav class="second-nav">
        <div class="second-nav-container">
          <div class="menu-items-container">
            <span class="menu-item"></span>
            <span class="menu-item" *ngFor="let item of menuItems">{{
              item
            }}</span>
          </div>
          <div class="search">
            <input
              class="search-input"
              type="text"
              placeholder="Поиск, например Круг зачистной"
            />
          </div>
          <div class="map">
            <img class="map-pin" src="./assets/map-pin.svg" />
            <div class="moscow">Москва</div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>