.header-container {
  max-width: 1920px;
  background: #4b565e;
}

.header {
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
  font-family: Inter;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 20px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-nav-item {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.admin-user {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
  gap: 5px;
}


.card-button {
  width: 125px;
  height: 50px;
  color: white;
  border-radius: 50px;
  border: 1px solid #F0BA4E;
  background-color: #4B565E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer
}

.header-info-items {
  margin-left: 40px;
}

.Phone {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.header-bottom-container {
  max-width: 1920px;
  background: #F0BA4E;
}

.header-bottom{
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
  align-items: center;
  color: #3C3C3B;
  font-family: Inter;
}

.header-bottom-right {
  display: flex;
  align-items: center;
}

.header-bottom-menu {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 3.5px;
}

.header-bottom-left {
  display: flex;
  align-items: center;
}

.header-bottom-nav {
  display: flex;
  align-items: center;
}

.header-bottom-nav-item {
  margin-left: 24px;
  color: #3C3C3B;
  text-decoration: none;
}

.datePipe {
  margin: 0 20px 0 20px;
  font-size: 14px;
}

.search-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 300px;
  height: 30px;
  background: url("/assets/lupa.svg") no-repeat right;
  margin-right: 24px;
}

.search-input:focus {
  outline: none;
}

.location {
  display: flex;
  align-items: center;
}

.location-city {
  color: white;
  margin-left: 4px;
}

.btn-menu.btn-admin-user {
  margin-right: 5px;
  background-color: #4B565E;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
}

.btn-menu:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}

.btn-menu:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.btn-admin {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.btn-log {
  display: flex;
  justify-content: space-between;
  background: #4B565E;
  color: white;
  border: none !important;
  cursor: pointer;
  border-radius: 25px;
}
