<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top-solid"></div>
            <div class="footer-top__left">
                <img src="/assets/footer.svg" alt="">
                <div>
                    <figure>
                        <figcaption><img src="/assets/icon.svg" alt="">Контактный телефон</figcaption>
                        <ul>
                          <li><a href="">+ 7 (812) 309-09-34</a></li>
                          <li><a href="">+ 7 (965) 084-29-09</a></li>
                        </ul>
                    </figure>
                    <figure>
                        <figcaption><img src="/assets/icon.svg" alt="">Электронная почта</figcaption>
                        <ul>
                          <li><a href="mailto:tustin78@mail.ru">mailto:tustin78&#64;mail.ru</a></li>
                          <li><a href="mailto:info@tustin.ru">mailto:info&#64;tustin.ru</a></li>
                        </ul>
                    </figure>
                </div>
            </div>
            <div class="footer-top__right">
                <h6>Остались вопросы?</h6>
                <p>Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</p>
                <form action="">
                    <div>
                        <img src="/assets/sms.svg" alt="">
                        <input type="email" id="email" placeholder="Введите свою почту"  name="email" required>
                        <input id="submit" type="submit" value="Отправить">
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="">О компании</a></li>
                <li><a href="">Каталог</a></li>
            </ul>
            <div class="footer-bottom__flex">
                <ul>
                    <li><a href=""><img src="/assets/facebook.png" alt=""></a></li>
                    <li><a href=""><img src="/assets/youtube.png" alt=""></a></li>
                    <li><a href=""><img src="/assets/wats.png" alt=""></a></li>
                </ul>
                <div>
                    <span>© 2021-2022, EDE</span>
                </div>
            </div>
        </div>
    </div>
</footer>