.footer-grey{
    background-color: #4b565e;
}

.footer-container {
    max-width: 1320px;
    margin: 0 auto;
    background-color: #4b565e;
  }
  .footer-up {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  .footer-up-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-up-logo {
    align-self: start;
    padding-bottom: 30px;
  }
  .footer-up-left-contacts {
    display: flex;
  }
  .footer-up-left-contacts-tel {
    display: flex;
    padding-right: 50px;
  }
  .footer-up-left-contacts-tel-img {
    padding-right: 15px;
  }
  .footer-up-left-contacts-sms {
    display: flex;
    padding-right: 15px;
  }
  .footer-up-left-contacts-sms-img {
    padding-right: 15px;
  }
  .footer-up-right {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-up-right-input-with-button {
    margin-top: 40px;
    display: flex;
    border: 1px solid #f0ba4e;
    border-radius: 50px;
    align-items: center;
    height: 43px;
    padding: 5px;
  }
  .footer-up-right-input {
    flex-grow: 1; /* Поле занимает всё доступное пространство */
    border: none; /* Границы отсутствуют */
    padding: 5px;
    outline: none;
    border-radius: 50px;
    background-color: #4b565e;
    font-size: 12px;
  }
  .footer-up-right-button {
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    background-color: #f0ba4e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 36px;
    width: 94px;
  }
  
  .footer {
    height: 80px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: start  ;
    padding: 24px 0;
    font-size: 14px;
    font-weight: 400;
    // margin-left: auto;
    // text-align: center;
  }
  .footer-nav {
    display: flex;
    align-self: self-start;
  }
  .footer-nav-item {
    margin-right: 25px;
  }
  .footer-down-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-down-left-pictures {
    display: flex;
    // flex-direction: column;
    align-items: center;
    // justify-content: space-between;
  }
  .footer-down-left-img {
    margin-right: 20px;
  }
  .footer-down-left-year {
    font-size: 14px;
    color: #a1a0a0;
    // align-self: flex-end;
  }
  
  .footer2-desktop {
    background-color: #4b565e;
  }
  
  .footer2 {
    &__container {
      height: 373px;
      padding: 35px 0;
      max-width: 1320px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  
    &__contacts-wrapper1 {
      display: flex;
      flex-direction: row;
      gap: 58px;
    }
  
    &__contacts-wrapper {
      color: #ffffff;
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: 500;
      // margin-left: 100px;
    }
  
    &__logo {
      width: 60px;
      height: 40px;
      margin-bottom: 32px;
    }
  
    &__contacts-title {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
  
    &__contacts-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 15px;
    }
  
    &__contacts-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  
    &__contacts {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
  }
