<div class="footer-grey">
<div class="footer-container">
    <div class="footer-up content-container">
      <div class="footer-up-left">
        <div class="footer-up-logo">
          <img src="/assets/Frame.svg" alt="logo" />
        </div>
        <div class="footer-up-left-contacts">
          <div class="footer-up-left-contacts-tel">
            <div class="footer-up-left-contacts-tel-img">
              <img src="/assets/call-calling.svg" alt="call" />
            </div>
            <div>
              <p style="
                  font-size: 12px;
                  font-weight: 400;
                  color: #a1a0a0;
                  padding-bottom: 10px;
                ">
                Контактный телефон
              </p>
              <p style="
                  font-size: 16px;
                  font-weight: 500;
                  color: #ffffff;
                  padding-bottom: 10px;
                ">
                + 7 (812) 309-09-34
              </p>
              <p style="font-size: 16px; font-weight: 500; color: #ffffff">
                + 7 (965) 084-29-09
              </p>
            </div>
          </div>
          <div class="footer-up-left-contacts-sms">
            <div class="footer-up-left-contacts-sms-img">
              <img src="/assets/sms.svg" alt="sms" />
            </div>
            <div>
              <p style="
                  font-size: 12px;
                  font-weight: 400;
                  color: #a1a0a0;
                  padding-bottom: 10px;
                ">
                Электронная почта
              </p>
              <p style="
                  font-size: 16px;
                  font-weight: 500;
                  color: #ffffff;
                  padding-bottom: 10px;
                ">
                tustin78&#64;mail.ru
              </p>
              <p style="font-size: 16px; font-weight: 500; color: #ffffff">
                info&#64;tustin.ru
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-up-right">
        <div>
          <h2 style="font-size: 18px; font-weight: 700; color: #ffffff">
            Остались вопросы?
          </h2>
          <p style="font-size: 14px; color: #a1a0a0">
            Узнавайте первым о скидках, предложениях и событиях еженедельно в<br />
            своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
          </p>
        </div>
        <div class="footer-up-right-input-with-button">
          <img src="/assets/sms.svg" alt="sms" style="width: 16px; height: 16px; padding-left: 15px" />
          <input class="footer-up-right-input" placeholder="Введите свою почту" />
          <button type="button" class="footer-up-right-button">Отправить</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-container">
    <div class="footer content-container">
      <div class="footer-up-left">
        <nav class="footer-nav">
          <div class="footer-nav-item">Главная</div>
          <div class="footer-nav-item">О компании</div>
          <div class="footer-nav-item">Каталог</div>
        </nav>
      </div>
      <div class="footer-down-left">
        <div class="footer-down-left-pictures">
          <img src="/assets/facebook.svg" alt="facebook" class="footer-down-left-img" />
          <img src="/assets/youtube.svg" alt="youtube" class="footer-down-left-img" />
          <img src="/assets/whatsap.svg" alt="whatsap" class="footer-down-left-img" />
        </div>
        <div class="footer-down-left-year">© 2021-2022, EDE</div>
      </div>
    </div>
  </div>
  
  <!-- <div class="footer2-desktop">
    <div class="footer content-container">
    <div class="footer2">
      <div class="footer2__container">
        <div class="footer2__contacts">
          <img src="/assets/Frame.svg" alt="logo" class="footer2__logo" />
          <div class="footer2__contacts-wrapper1">
            <div class="footer2__contacts-wrapper">
              <div class="footer2__contacts-icon">
                <img src="/assets/call-calling.svg" alt="call" class="footer2__contacts-icon" />
              </div>
              <div class="footer2__contacts-content">
                <span class="footer2__contacts-title">Контактный телефон</span>
                <span class="footer2__contacts-phone">+ 7 (812) 309-09-34</span>
                <span class="footer2__contacts-phone">+ 7 (965) 084-29-09</span>
              </div>
            </div>
            <div class="footer2__contacts-wrapper">
              <div>
                <img src="/assets/sms.svg" alt="sms" class="footer2__contacts-icon" />
              </div>
              <div class="footer2__contacts-content">
                <span class="footer2__contacts-title">Электронная почта</span>
                <span class="footer2__contacts-phone">tustin78&#64;mail.ru</span>
                <span class="footer2__contacts-phone">info&#64;tustin.ru</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="footer2__form">
          <div class="footer2__form-title">
            <h3 style="font-size: 18px; font-weight: 700; color: #ffffff">
              Остались вопросы?
            </h3>
            <p style="font-size: 14px; color: #a1a0a0">
              Узнавайте первым о скидках, предложениях и событиях еженедельно в<br />
              своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
            </p>
          </div>
          <div class="footer-up-right-input-with-button">
            <img src="/assets/sms.svg" alt="sms" style="width: 16px; height: 16px; padding-left: 15px" />
            <input class="footer-up-right-input" placeholder="Введите свою почту" />
            <button type="button" class="footer-up-right-button">
              Отправить
            </button>
          </div>
        </div>
      </div>
    </div>
  /</div> -->
</div>