<div>
  <p red> {{ user.name | customUpperCase}}</p>
  <p red> {{ user.email | customUpperCase}}</p>
  <p red> {{ user.website | customUpperCase}}</p>
  <p red> {{ user.company.name }}</p>
  <p> {{ user.phone | phonePipe}}</p>
</div>
<div class="buttons">
  <div class="edit">
    <button mat-raised-button color="primary" (click)="onEditUser(user)">Edit</button>
  </div>
  
  <div class="delete">
    <button mat-raised-button color="warn" (click)="onDeleteUser(user.id)">Delete</button>
  </div>
</div>