.buttons {
    display: flex;
    justify-content: space-between;
}
.edit {
    width: 60px;
    border: 4px solid #1E90FF;
    border-radius: 50px;
    padding: 5px 0px 5px 0px;
    background-color: #1E90FF; 
}
.delete {
    width: 60px;
    border: 4px solid #FF0000;
    border-radius: 50px;
    padding: 5px 0px 5px 0px;
    background-color: #FF0000; 
}
.delete_1{
    border: none;
    background-color: rgba(255, 0, 0, 0); 
    color:#FFFFFF
}
.delete_1:hover {
    color: #000000;
}