<h1 class="user-form-title">Форма для создания пользователя</h1>
<form class="user-form" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Введите свое имя</mat-label>
    <input matInput type="text" formControlName="name">
    <mat-icon matSuffix>edit</mat-icon>
    <mat-error>
      Имя введено неправильно
     </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Введите свою почту</mat-label>
    <input matInput type="text" formControlName="email">
    <mat-icon matSuffix>edit</mat-icon>
    <mat-error>
      Почта введена неправильно
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Введите ваш вебсайт</mat-label>
    <input matInput type="text" formControlName="website">
    <mat-icon matSuffix>edit</mat-icon>
    <mat-error>
      Вебсайт введен неправильно
    </mat-error>
  </mat-form-field>
  <div formGroupName="company">
    <mat-form-field appearance="fill">
      <mat-label>Введите название компании</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-icon matSuffix>edit</mat-icon>
      <mat-error>
        Название компании введено неправильно
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary" type="submit" class="user-form-btn" [disabled]="form.invalid" [mat-dialog-close]="userWithFilledFields">
    <mat-icon>add</mat-icon>
    СОЗДАТЬ
  </button>
  <button mat-stroked-button color="primary" (click)="onCancelClick()" class="user-form-btn">
    ОТМЕНА
  </button>
</form>