<!-- <div class="banner" *ngIf="isShowBanner">
        <img src="/assets/banner.png" alt="баннер">
</div> -->
<Div class="content-container" >
    <div class="under-banner">
      <div class="under-banner-block" style="display: flex;">
              <img src="/assets/Mask_group.svg" alt="иконка"> 
              <div class="block-text"> <span style="font-weight: 600;">Большой ассортимент</span>
                      <span style="color: #a8a7a7;"> строительных материалов всегда в наличии</span> </div>
      </div>
      <div class="under-banner-block" style="display: flex;">
              <img src="/assets/Mask_group2.svg" alt="иконка2"><div class="block-text"><span style="font-weight: 600;">Доставка стройматериалов</span>
                      <span style="color: #a8a7a7;"> <br>в течении четырех часов или в любое удобное время</span></div>
      </div>
      <div class="under-banner-block" style="display: flex;">
              <img src="/assets/Mask_group3.svg" alt="иконка3"> 
              <div class="block-text"><span style="color: #a8a7a7;">Многоуровневая</span> <span style="font-weight: 600;"> система управления качеством</span>
                       <span style="color: #a8a7a7;"> по стандарту ISO 9001</span></div>
      </div>
    </div>
<Div class="item-cards">
   <div class="item-cards-pagination">
               <!-- <button class="item-cards-pagination-button active-button" *ngFor="let item of newPages">{{item}}</button> -->
               <!-- <button class="item-cards-pagination-button">2</button>
               <button class="item-cards-pagination-button">3</button>
               <button class="item-cards-pagination-button">4</button>
               <button class="item-cards-pagination-button">5</button> -->
   </div>
   <div class="item-cards-grid">
        <div class="item-cards-grid-left"><div class="item-cards-grid-left-text">Строительный отделочный инструмент</div>
              <div class="item-cards-grid-left-action"><span style="margin-right: 10px;">Перейти в каталог</span> <a><img src="/assets/Frame20.svg" alt="стрелка"></a></div>
        </div>
        <div class="item-cards-grid-right">
              <div class="item-cards-grid-right-blocks1 itcgb blocks1"> 
                      <div class="item-cards-grid-right-blocks1-text"> Эмали </div>
                      <div class="item-cards-grid-right-action action-button1"><span style="margin-right: 10px;">Перейти в каталог</span> <a><img src="/assets/Frame20.svg" alt="стрелка"></a></div>
              </div>
              <div class="item-cards-grid-right-blocks2 itcgb blocks2">
                      <div class="item-cards-grid-right-blocks-text"> Лакокрасочные материалы</div>
                      <div class="item-cards-grid-right-action action-button2"><span style="margin-right: 10px;">Перейти в каталог</span> <a><img src="/assets/Frame20.svg" alt="стрелка"></a></div>
              </div>
              <div class="item-cards-grid-right-blocks3 itcgb blocks2">
                      <div class="item-cards-grid-right-blocks-text"> Пены, клеи и <br>герметики</div>
                      <div class="item-cards-grid-right-action action-button2"><span style="margin-right: 10px;">Перейти в каталог</span> <a><img src="/assets/Frame20.svg" alt="стрелка"></a></div>
              </div>
              <div class="item-cards-grid-right-blocks4 itcgb blocks1"> 
                      <div class="item-cards-grid-right-blocks-text">Розетки и выключатели</div>
                      <div class="item-cards-grid-right-action action-button1"><span style="margin-right: 10px;">Перейти в каталог</span> <a><img src="/assets/Frame20.svg" alt="стрелка"></a></div>
              </div>     
        </div>

   </div> 
</Div>
<Div class="item-cards-2">
<nav class="about-goods"> <div class="about-goods-text">Популярные товары</div> <div class="about-goods-text2">Посмотреть все товары</div></nav>     
<div class="item-cards-2-block">
         <div class="item-cards-2-blocks">
             <div class="item-cards-2-blocks-card">
              <div><img src="/assets/Frame41.svg" alt="избранное"></div>
               <div ><img src="/assets/image13.svg" alt="круг"></div>
               <div class="item-cards-2-blocks-card-text1">Круг зачистной 125х6х22</div>
               <div class="item-cards-2-blocks-card-text2">Артикул 00004</div>
               <div class="item-cards-2-blocks-card-text3">Цена за штуку</div>
               <div class="item-cards-2-blocks-card-text4"><del>52 руб</del> <div class="item-cards-2-blocks-card-text4-1">48 руб</div></div>
               <div class="item-cards-2-blocks-card-text5"> Количество</div>
               <div class="item-cards-2-blocks-card-button"><button style="border: none; background: none;">-</button>
                       <div class="item-cards-2-blocks-card-button-text">1</div><button style="border: none; background: none; margin-left: 5px;">+</button>
                       <button class="item-cards-2-blocks-card-button-last">В корзину</button>
              </div>
             </div>
          </div> 
          <div class="item-cards-2-blocks">            
          <div class="item-cards-2-blocks-card">
              <div><img src="/assets/Frame41.svg" alt="избранное"></div>
               <div class="item-cards-2-blocks-card"><img src="/assets/image13.svg" alt="круг"></div>                        
               <div class="item-cards-2-blocks-card-text1">Круг зачистной 125х6х22</div>
               <div class="item-cards-2-blocks-card-text2">Артикул 00004</div>
               <div class="item-cards-2-blocks-card-text3">Цена за штуку</div>
               <div class="item-cards-2-blocks-card-text4"><del>52 руб</del> <div class="item-cards-2-blocks-card-text4-1">48 руб</div></div>
               <div class="item-cards-2-blocks-card-text5"> Количество</div>
               <div class="item-cards-2-blocks-card-button"><button style="border: none; background: none;">-</button>
                       <div class="item-cards-2-blocks-card-button-text">1</div><button style="border: none; background: none; margin-left: 5px;">+</button>
                       <button class="item-cards-2-blocks-card-button-last">В корзину</button>
              </div>
            </div>
         </div>
         <div class="item-cards-2-blocks">
         <div class="item-cards-2-blocks-card">
              <div><img src="/assets/Frame41.svg" alt="избранное"></div>
               <div class="item-cards-2-blocks-card"><img src="/assets/image13.svg" alt="круг"></div>                        
               <div class="item-cards-2-blocks-card-text1">Круг зачистной 125х6х22</div>
               <div class="item-cards-2-blocks-card-text2">Артикул 00004</div>
               <div class="item-cards-2-blocks-card-text3">Цена за штуку</div>
               <div class="item-cards-2-blocks-card-text4"><del>52 руб</del> <div class="item-cards-2-blocks-card-text4-1">48 руб</div></div>
               <div class="item-cards-2-blocks-card-text5"> Количество</div>
               <div class="item-cards-2-blocks-card-button"><button style="border: none; background: none;">-</button>
                       <div class="item-cards-2-blocks-card-button-text">1</div><button style="border: none; background: none; margin-left: 5px;">+</button>
                       <button class="item-cards-2-blocks-card-button-last">В корзину</button>
              </div>
            </div>
         </div>
         <div class="item-cards-2-blocks">
         <div class="item-cards-2-blocks-card" >
              <div><img src="/assets/Frame41.svg" alt="избранное"></div>
               <div class="item-cards-2-blocks-card"><img src="/assets/image13.svg" alt="круг"></div>                        
               <div class="item-cards-2-blocks-card-text1">Круг зачистной 125х6х22</div>
               <div class="item-cards-2-blocks-card-text2">Артикул 00004</div>
               <div class="item-cards-2-blocks-card-text3">Цена за штуку</div>
               <div class="item-cards-2-blocks-card-text4-1">52 руб</div>
               <div class="item-cards-2-blocks-card-text5"> Количество</div>
               <div class="item-cards-2-blocks-card-button"><button style="border: none; background: none;">-</button>
                       <div class="item-cards-2-blocks-card-button-text">1</div><button style="border: none; background: none; margin-left: 5px;">+</button>
                       <button class="item-cards-2-blocks-card-button-last">В корзину</button>
              </div>
            </div>
         </div>            
</div>
</Div>
<Div class="banner-2" >
<div class="banner-2-text1">Более 10 000 наименований </div>
<div class="banner-2-text2">Инструмент для вашего бизнеса, разнообразных марок</div>
<nav class="banner-2-text3">Перейти в каталог</nav>
</Div>
<Div class="item-cards-3-block">
<div class="item-cards-3-block-A"><div class="item-cards-3-block-text">Новинки</div>
<nav class="item-cards-3-block-nav">Посмотреть товары</nav></div>
   <div class="item-cards-3-block-B">
      <div class="item-cards-2-blocks">
              <div class="item-cards-2-blocks-card">
               <div style="padding-top: 2px;"><img src="/assets/Frame42.svg" alt="избранное"></div>
                <div ><img src="/assets/image13.svg" alt="круг"></div>
                <div class="item-cards-2-blocks-card-text1">Круг зачистной 125х6х22</div>
                <div class="item-cards-2-blocks-card-text2">Артикул 00004</div>
                <div class="item-cards-2-blocks-card-text3">Цена за штуку</div>
                <div class="item-cards-2-blocks-card-text4-1">52 руб</div>
                <div class="item-cards-2-blocks-card-text5"> Количество</div>
                <div class="item-cards-2-blocks-card-button"><button style="border: none; background: none;">-</button>
                        <div class="item-cards-2-blocks-card-button-text">1</div><button style="border: none; background: none; margin-left: 5px;">+</button>
                        <button class="item-cards-2-blocks-card-button-last">В корзину</button>
               </div>
              </div>
           </div> 
           <div class="item-cards-2-blocks">
            <div class="item-cards-2-blocks-card">
              <div style="padding-top: 2px;"><img src="/assets/Frame42.svg" alt="избранное"></div>
               <div ><img src="/assets/image13.svg" alt="круг"></div>
               <div class="item-cards-2-blocks-card-text1">Круг зачистной 125х6х22</div>
               <div class="item-cards-2-blocks-card-text2">Артикул 00004</div>
               <div class="item-cards-2-blocks-card-text3">Цена за штуку</div>
               <div class="item-cards-2-blocks-card-text4">52 руб</div>
               <div class="item-cards-2-blocks-card-text5"> Количество</div>
               <div class="item-cards-2-blocks-card-button"><button style="border: none; background: none;">-</button>
                       <div class="item-cards-2-blocks-card-button-text">1</div><button style="border: none; background: none; margin-left: 5px;">+</button>
                       <button class="item-cards-2-blocks-card-button-last">В корзину</button>
              </div>
             </div>
             </div>
             <div class="item-cards-2-blocks">
             <div class="item-cards-2-blocks-card">
              <div style="padding-top: 2px;"><img src="/assets/Frame42.svg" alt="избранное"></div>
               <div ><img src="/assets/image13.svg" alt="круг"></div>
               <div class="item-cards-2-blocks-card-text1">Круг зачистной 125х6х22</div>
               <div class="item-cards-2-blocks-card-text2">Артикул 00004</div>
               <div class="item-cards-2-blocks-card-text3">Цена за штуку</div>
               <div class="item-cards-2-blocks-card-text4">52 руб</div>
               <div class="item-cards-2-blocks-card-text5"> Количество</div>
               <div class="item-cards-2-blocks-card-button"><button style="border: none; background: none;">-</button>
                       <div class="item-cards-2-blocks-card-button-text">1</div><button style="border: none; background: none; margin-left: 5px;">+</button>
                       <button class="item-cards-2-blocks-card-button-last">В корзину</button>
              </div>
             </div>
             </div>
             <div class="item-cards-2-blocks">
             <div class="item-cards-2-blocks-card" style="margin-left: 28p;">
              <div style="padding-top: 2px;"><img src="/assets/Frame42.svg" alt="избранное"></div>
               <div ><img src="/assets/image13.svg" alt="круг"></div>
               <div class="item-cards-2-blocks-card-text1">Круг зачистной 125х6х22</div>
               <div class="item-cards-2-blocks-card-text2">Артикул 00004</div>
               <div class="item-cards-2-blocks-card-text3">Цена за штуку</div>
               <div class="item-cards-2-blocks-card-text4">52 руб</div>
               <div class="item-cards-2-blocks-card-text5"> Количество</div>
               <div class="item-cards-2-blocks-card-button"><button style="border: none; background: none;">-</button>
                       <div class="item-cards-2-blocks-card-button-text">1</div><button style="border: none; background: none; margin-left: 5px;">+</button>
                       <button class="item-cards-2-blocks-card-button-last">В корзину</button>
              </div>
             </div>
             </div> 
   </div>            
</Div>
