.content-container {
    max-width: 1320px;
    margin: 0 auto;
}

.item-cards__pagination {
    display: flex;
    justify-content: end;
    margin-bottom: 16px;

    &-button {
        font-family: inter;
        border: none;
        background-color: #ffffff;
        color: #A1A0A0;
     }
}

.active-button {
    color: #F0BA4E;
    font-weight: 600;
}

.item-cards__grid {
    display: flex;
}

.item-cards__grid-left {
    height: 428px;
    max-height: 428px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    max-width: 421px;
    background-image: url("/assets/image_19.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    margin-bottom: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-cards__grid-left-text {
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    height: 68px;
    width: 389px;
    color: #3C3C3B;
    padding: 10px;
}

.item-cards__grid-left-action {
    align-self: end;
}

.item-cards__grid-left-action-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.item-cards__grid-left-action-link {
    margin-left: 10px;
}

.arrow {
    margin-bottom: 1px;
}

.small-icons {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.small-icon-bricks {
    display: flex;
    align-items: center;
    width: 421px;
    height: 72px;
}

.text-bricks {
    margin-left: 15px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    color: #A1A0A0;
    line-height: 21px;
}

.text-bricks-black {
    display: flex;
    color: #3C3C3B;
}

.small-icon-car {
    display: flex;
    align-items: center;
    width: 421px;
    height: 72px;
}

.text-car {
    margin-left: 15px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    color: #A1A0A0;
    line-height: 21px;
}

.text-car-black {
    display: flex;
    color: #3C3C3B;
}

.small-icon-like {
    display: flex;
    align-items: center;
    width: 421px;
    height: 72px;
}

.text-like {
    margin-left: 15px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    color: #A1A0A0;
}

.item-cards__grid-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 27px;
    margin-left: 30px;
}
.item-cards__grid-right-block {
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.item-cards__grid-right-block-enamels {
    background-image: url("/assets/enamels.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enamels-name {
    font-size: 28px;
    line-height: 34px;
    display: flex;
    margin: 16px 16px;
    width: 91px;
    height: 34px;
    align-self: end;
}

.enamels-text {
    align-self: end;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    display: flex;
    align-items: center;
    
}

.enamels-text-link {
    display: flex;
    align-items: end;
    padding: 10px;
}

.item-cards__grid-right-block-paint {
    background-image: url("/assets/Dulux.png");
    background-repeat: no-repeat;
    display: flex;
    background-position: right;
    background-position-y: bottom;
    flex-direction: column;
    justify-content: space-between;
}

.paint-name {
    font-size: 28px;
    line-height: 34px;
    display: flex;
    width: 231px;
    padding: 16px;
}

.paint-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    line-height: 17px;
}

.paint-text-link {
    margin-left: 10px;
}

.item-cards__grid-right-block-glue {
    background-image: url("/assets/glue1.png");
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.glue-name {
    display: flex;
    font-size: 28px;
    line-height: 34px;
    width: 218px;
    padding: 16px;
}

.glue-text {
    display: flex;
    align-items: center;
    padding: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.glue-text-link {
    margin-left: 10px;
}

.item-cards__grid-right-block-socket {
    background-image: url("/assets/socket1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socket-name {
    display: flex;
    font-size: 28px;
    line-height: 34px;
    width: 336px;
    padding: 16px;
}

.socket-text {
    display: flex;
    align-self: end;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 16px;
}

.socket-text-link {
    margin-left: 10px;
}

.popular-ware-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
}

.popular-ware {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    width: 282px;
    height: 34px;
}

.popular-ware-2 {
    font-size: 18px;
    line-height: 22px;
    width: 218px;
    height: 22px;
    color: #F0BA4E;
}

.cards-container {
    display: flex;
    gap: 28px;
}

.round-cards {
    width: 309px;
    height: 429px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.round-card-left {
    background-image: url("/assets/disk.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25px;

}

.card-left-elements {
    display: flex;
    justify-content: space-between;
    margin: 20px 25px 0px 25px;
}

.round-card-left-discount {
    border: 2px solid;
    border-radius: 61px;
    padding: 10px 20px 10px 20px;
    background-color: #FA5D69;
    color: white;
}

.card-left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 150px 25px 0px 25px;
}

.card-left-text-1 {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    color: #3C3C3B;
}

.card-left-text-2 {
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #3C3C3B;
}

.card-left-price-per-piece {
    display: flex;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #A1A0A0;
}

.card-left-price {
    display: flex;
    margin-top: 10px;
}

.card-left-price-1 {
    display: flex;
    line-height: 19px;
    text-align: left;
    text-decoration-line: line-through;
    margin-right: 15px;
}

.card-left-price-2 {
    display: flex;
    font-size: 20px;
    line-height: 24px;
}

.card-left-name-quantity {
    display: flex;
    margin-top: 15px;
    font-weight: 500;
    line-height: 19px;
    width: 94px;
    height: 19px;
    align-self: flex-start;
}

.card-left-bottom {
    display: flex;
    margin-top: 10px;
    width: 261px;
    height: 53px;
    justify-content: space-between;
    align-items: center;
}

.card-letf-bottom-elements {
    display: flex;
    margin-bottom: 20px;
}

.card-left-button-minus {
    display: flex;
    background-color: #FFFFFF;
    border: none;
    width: 8px;
    height: 19px;
    font-weight: 400;
    line-height: 19px;
    margin-left: -5px;
}

.card-left-quantity {
    display: flex;
    width: 10px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #3C3C3B;
    margin-left: 15px;
    margin-right: 12px;
}

.card-left-button-plus {
    display: flex;
    width: 11px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
    background-color: #FFFFFF;
}

.card-left-basket {
    display: flex;
    border: 1px solid #F0BA4E;
    border-radius: 54px;
    padding: 14px 28px 14px 28px;
    margin-bottom: 64px;
}

.round-card-right-1 {
    background-image: url("/assets/disk.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25px;

}

.card-right-elements-1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 25px 0px 25px;
}

.card-right-elements-1-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.round-card-right-new-1 {
    display: flex;
    border: 2px solid #08C785;
    border-radius: 54px;
    padding: 10px 20px 10px 20px;
    background-color: #08C785;
    color: #FFFFFF;
}

.round-card-right-discount-1 {
    border: 2px solid;
    border-radius: 61px;
    padding: 10px 20px 10px 20px;
    background-color: #FA5D69;
    color: #FFFFFF;
    width: 16px;
}

.card-right-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 95px 25px 0px 25px;
}

.card-right-text-1 {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    color: #3C3C3B;
}

.card-right-text-2 {
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #3C3C3B;
}

.card-right-price-per-piece-1 {
    display: flex;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #A1A0A0;
}

.card-right-price {
    display: flex;
    margin-top: 10px;
}

.card-right-price-1 {
    display: flex;
    line-height: 19px;
    text-align: left;
    text-decoration-line: line-through;
    margin-right: 15px;
}

.card-right-price-2 {
    display: flex;
    font-size: 20px;
    line-height: 24px;
}

.card-right-name-quantity-1 {
    display: flex;
    margin-top: 15px;
    font-weight: 500;
    line-height: 19px;
    width: 94px;
    height: 19px;
    align-self: flex-start;
}

.card-right-bottom-1 {
    display: flex;
    margin-top: 10px;
    width: 261px;
    height: 53px;
    justify-content: space-between;
    align-items: center;
}

.card-right-bottom-elements-1 {
    display: flex;
    margin-bottom: 20px;
}

.card-right-button-minus-1 {
    display: flex;
    background-color: #FFFFFF;
    border: none;
    width: 8px;
    height: 19px;
    font-weight: 400;
    line-height: 19px;
    margin-left: -5px;
}

.card-right-quantity-1 {
    display: flex;
    width: 10px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #3C3C3B;
    margin-left: 15px;
    margin-right: 12px;
}

.card-right-button-plus-1 {
    display: flex;
    width: 11px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
    background-color: #FFFFFF;
}

.card-right-basket-1 {
    display: flex;
    border: 1px solid #F0BA4E;
    border-radius: 54px;
    padding: 14px 28px 14px 28px;
    margin-bottom: 64px;
}

.round-card-right-2 {
    background-image: url("/assets/disk.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25px;

}

.card-right-elements-2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 25px 0px 25px;
}

.card-right-elements-2-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.round-card-right-new-2 {
    display: flex;
    border: 2px solid #08C785;
    border-radius: 54px;
    padding: 10px 20px 10px 20px;
    background-color: #08C785;
    color: #FFFFFF;
}

.card-right-text_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 145px 25px 0px 25px;
}

.card-right-text-1 {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    color: #3C3C3B;
}

.card-right-text-2 {
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #3C3C3B;
}

.card-right-price-per-piece-2 {
    display: flex;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #A1A0A0;
}

.card-right-price {
    display: flex;
    margin-top: 10px;
}

.card-right-price-1 {
    display: flex;
    line-height: 19px;
    text-align: left;
    text-decoration-line: line-through;
    margin-right: 15px;
}

.card-right-price-2 {
    display: flex;
    font-size: 20px;
    line-height: 24px;
}

.card-right-name-quantity-2 {
    display: flex;
    margin-top: 15px;
    font-weight: 500;
    line-height: 19px;
    width: 94px;
    height: 19px;
    align-self: flex-start;
}

.card-right-bottom-2 {
    display: flex;
    margin-top: 10px;
    width: 261px;
    height: 53px;
    justify-content: space-between;
    align-items: center;
}

.card-right-bottom-elements-2 {
    display: flex;
    margin-bottom: 20px;
}

.card-right-button-minus-2 {
    display: flex;
    background-color: #FFFFFF;
    border: none;
    width: 8px;
    height: 19px;
    font-weight: 400;
    line-height: 19px;
    margin-left: -5px;
}

.card-right-quantity-2 {
    display: flex;
    width: 10px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #3C3C3B;
    margin-left: 15px;
    margin-right: 12px;
}

.card-right-button-plus-2 {
    display: flex;
    width: 11px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
    background-color: #FFFFFF;
}

.card-right-basket-2 {
    display: flex;
    border: 1px solid #F0BA4E;
    border-radius: 54px;
    padding: 14px 28px 14px 28px;
    margin-bottom: 64px;
}

.button-cont {
    display: flex;
    margin-top: -30px;
}

.button-cards-left {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    top: 247px;
    left: -45px;
    border-radius: 36px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 50px 0px #00000012;
    border: none;
}

.button-cards-right {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    top: 247px;
    left: 1242px;
    border-radius: 36px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 50px 0px #00000012;
    border: none;
}

.yellow_arrow-1 {
    display: flex;
    align-items: center;
    margin-left: 13px;
    margin-top: 15px;
}

.yellow_arrow-2 {
    display: flex;
    margin-top: 15px;
    margin-left: 13px;
}

.grey-banner {
    display: flex;
    background-color: #F6F6F6;
    width: 1320px;
    height: 261px;
    margin-top: 60px;
}

.grey-banner-picture {
    background-image: url("/assets/worker.png");
    background-repeat: no-repeat;
    background-position-x: right;
}

.grey-banner-text-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 0px 0px 28px;
}

.grey-banner-name {
    display: flex;
    width: 448px;
    height: 34px;
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
}

.grey-banner-name-2 {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 100px;
    color: #A1A0A0;
}

.grey-banner-name-3 {
    display: flex;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #F0BA4E;
}

.new-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.new-item {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    width: 282px;
    height: 34px;
}

.new-items-link {
    font-size: 18px;
    line-height: 22px;
    width: 218px;
    height: 22px;
    color: #F0BA4E;
}
