<h2 mat-dialog-title>Редактировать пользователя</h2>
<div mat-dialog-content>
  <form action="" [formGroup]="form">
    <input type="hidden" formControlName="id" />
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngIf="form.controls['name'].hasError('required')">
        Имя обязательно
      </mat-error>
      <mat-error *ngIf="form.controls['name'].hasError('minlength')">
        Минимальная длина 3 символа
      </mat-error>
      <mat-error *ngIf="form.controls['name'].hasError('pattern')">
        Некорректный формат имени
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Email обязателен
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">
        Некорректный формат email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>website</mat-label>
      <input matInput type="text" formControlName="website" />
      <mat-error *ngIf="form.controls['website'].hasError('required')">
        Website обязателен
      </mat-error>
      <mat-error *ngIf="form.controls['website'].hasError('pattern')">
        Некорректный формат website
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>company name</mat-label>
      <input matInput type="text" formControlName="companyName" />
      <mat-error *ngIf="form.controls['companyName'].hasError('required')">
        Название компании обязательно
      </mat-error>
      <mat-error *ngIf="form.controls['companyName'].hasError('minlength')">
        Минимальная длина 3 символа
      </mat-error>
      <mat-error *ngIf="form.controls['companyName'].hasError('pattern')">
        Допустимы только буквы, цифры и пробелы
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    [mat-dialog-close]="form.value"
    [disabled]="form.invalid"
    matTooltip="Редактировать данные пользователя"
    matTooltipPosition="above"
  >
    edit user
  </button>
</div>
