.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 140px;
}

.buttons-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.button {
  width: 150px;
}

.title {
  margin: 10px;
}
