.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  padding-top: 20px;
}

.buttons-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-right: 100px;
}

.button {
  width: 150px;
}

.title {
  margin: 10px;
}

.notable_error {
  display: flex;
}
