<div class="content_form">

    <h1 class="title">Создать Todo форму</h1>

    <form class="block_form" [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Задание</mat-label>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <input matInput placeholder="Введите номер задания..." formControlName="userId">
            <mat-error>Задание введено неправильно!</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Id задания</mat-label>
            <input matInput placeholder="Введите id задания..." formControlName="id">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error>Id введен неправильно!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Задача</mat-label>
            <textarea matInput #message maxlength="256" placeholder="Напишите задачу..."
                formControlName="title"></textarea>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            <mat-error>Задача введена неправильно!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Задача решена</mat-label>
            <mat-select formControlName="completed">
                <mat-option value="Yes">да</mat-option>
                <mat-option value="No">нет</mat-option>
            </mat-select>
            <mat-error>Решение введено неправильно!</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="submitFormTodo()" disabled [disabled]="form.invalid" class="form_button">
            <mat-icon>download_done</mat-icon>
            СОЗДАТЬ ЗАДАЧУ
        </button>
    </form>
</div>