.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
    @media (min-width: 576px) {
      max-width: 700px;
    }
  

    @media (min-width: 768px) {
      max-width: 940px;
    }
  
    @media (min-width: 992px) {
      max-width: 1120px;
    }
  
    @media (min-width: 1200px) {
      max-width: 1320px;
    }
  }
.createTodo-form {
  width: 450px;
    form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    input {
        margin-bottom: 15px;
    }
    }

}
.alert {
  margin-bottom: 10px;
   margin-top: -15px;
    color: red;
}