.create-form-todo {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 640px;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.2);
}

.example-width {
  width: 220px;
}

.title {
  text-align: center;
  font-weight: 600;
  color: #3c3c3b;
}

.subtitle {
  margin: 10px;
  font-weight: 600;
  color: #3c3c3b;
}

.create-button-position {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}