.form-todo {
    display: flex;
    flex-direction: column;
    margin-left: 310px
}

.form-button {
    width: 150px;
    margin-top: 20px;
}

.form-container {
    margin: 30px 30px 30px 0px;
}

.form-input {
    width: 200px;
}

.custom-form-field {
    width: 200px;
}

.custom-button-style {
    width: 200px;
}