.todo-form{
    width: 1320px;
    justify-content: center;
    margin: 0 auto;
}

.todo-form-cards{
    display: flex;
    flex-direction: column;
}

.create-form-button{
    width: 215px;
}

.form-input{
    width: 200px;
}