<div class="form_cont">
  <h1>Create todo form</h1>
  <form [formGroup]="form" (ngSubmit)="submitFormTodo()">
    <mat-form-field>
      <mat-label>Введите Id</mat-label>
      <input matInput type="text" formControlName="id" />
    </mat-form-field>
    <div
      *ngIf="
        form.controls['id'].invalid &&
        (form.controls['id'].dirty || form.controls['id'].touched)
      "
      class="alert"
    >
      <div *ngIf="form.controls['id'].errors">Id введено неверно</div>
    </div>
    <mat-form-field>
      <mat-label>Введите текст</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <div
      *ngIf="
        form.controls['title'].invalid &&
        (form.controls['title'].dirty || form.controls['title'].touched)
      "
      class="alert"
    >
      <div *ngIf="form.controls['title'].errors">Заголовок введен неверно</div>
    </div>
    <mat-form-field>
      <mat-label>Введите статус</mat-label>
      <input matInput type="text" formControlName="completed" />
    </mat-form-field>
    <div
      *ngIf="
        form.controls['completed'].invalid &&
        (form.controls['completed'].dirty || form.controls['completed'].touched)
      "
      class="alert"
    >
      <div *ngIf="form.controls['completed'].errors">
        Статус задачи введен неверно
      </div>
    </div>
    <button type="submit" mat-fab extended [disabled]="form.invalid">
      <mat-icon>+</mat-icon>
      Создать список дел
    </button>
  </form>
</div>
