<h1 style="margin-left: 50px;">Create Todos Form</h1>
<div class="todos_form">
    <form (ngSubmit)="onSumbit()" #todoForm="ngForm">
        <p for="title">ТЕКСТ ЗАДАЧИ:</p>
        <input
          id="title"
          name="title"
          [(ngModel)]="todo.title"
          placeholder="Введите название задачи"
          required
        />
      
        <p for="userId">Автор ЗАДАЧИ:</p>
        <input
          id="userId"
          name="userId"
          type="number"
          [(ngModel)]="todo.userId"
          placeholder="Введите ID пользователя"
          required
        />
      
        <p for="completed">ЗАДАЧА ЗАВЕРШЕНА:</p>
        <select
          id="completed"
          name="completed"
          [(ngModel)]="todo.completed"
          required
        >
          <option [value]="true">Да</option>
          <option [value]="false">Нет</option>
        </select>
        <div class="button">
        <button type="submit">Создать задачу</button>
        </div>
    </form>
</div>
