<div class="content-container">
    <div>
        <div class="header">
            <div class="header-left">
                <div class="header-logo">
                    <img src="/assets/Frame.svg" alt="logotip" />
                </div>
                <nav class="header-nav">
                    <div class="header-nav-item" routerLink="users">{{headerItem1 }}</div>
                    <div class="header-nav-item" routerLink="/">{{aboutCompany}}</div>
                    <div class="header-nav-item" *ngIf="isShowCatalog">
                        {{headerItem3 }}
                    </div>
                </nav>
                <button (click)="isShowCatalog = !isShowCatalog">
                    Скрыть/показать каталог
                </button>
                <button (click)="changeMenutext()">Изменить текст</button>
            </div>
            <div class="header-right">
                <div class="phone">
                    <img src="/assets/Phone.svg" alt="phone" />
                </div>
                <div>
                    <a class="number" href="tel:79650842929">{{number | phoneNumber}}</a>
                </div>
                <div class="heart">
                    <img src="/assets/heart 1.svg" alt="heart" />
                </div>
                <div class="knopka">
                    <button class="button-basket">
                        <mat-icon yellow>shopping_cart</mat-icon>
                        <span class="basket">Пусто</span>
                    </button>
                </div>
                <button routerLink="/users">Users</button>
                <button routerLink="/todos">Todos</button>
                
            </div>
        </div>
        <div> 
            <button routerLink="/admin">Admin</button>
            <button (click)="openDialog()" *ngIf="(userService.user$ | async)=== null"> Войти </button>
            <button (click)="logout()" *ngIf="(userService.user$ | async) !== null"> Выйти </button>
        </div>
        <div>
            <div class="subheader">
                <div class="subheader-left">
                    <img src="/assets/Frame 5.svg" alt="Иконка Каталог" />
                </div>
                <div>
                    <nav class="subheader-nav">
                        <div class="subheader-nav-item" *ngFor="let item of menuItems">
                            {{ item }}
                        </div>
                    </nav>
                </div>
                <div class="subheader-right">
                    <input class="search" type="text" placeholder="Поиск, например Круг зачистной" />
                    <img src="/assets/Mask group.png" alt="lupa" />
                    <img src="/assets/Time.svg" alt="metka" />
                    {{ today | date:'medium' }}
                </div>
            </div>
        </div>
    </div>
</div>