.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: #FFFFFF;
    background-color: #4B565E;
    padding: 0 100px;
}
.header-left {
    display: flex;
    align-items: center;
    margin: 80px;
}

.header-logo {
    margin-right: 40px;
}

.header-nav {
    display: flex;
}

.header-nav-item {
    margin-right: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 6px
}

.phone {
    display: flex;
    align-items: center;
}

.number {
    margin-right: 10px;
    color: #FFFFFF;
    text-decoration:none;
}

.heart {
    align-items: center;
    display: flex;
}

.knopka {
    align-items: center;
    display: flex;
    margin: 20px;
}

.subheader {
    display: flex;
    align-items: center;
    height: 48px;
    color: black;
    background-color: #F0BA4E;
    padding: 0 100px;

   
}

.subheader-left {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin: 80px;
}

.subheader-nav {
    align-items: center;
    display: flex;
}

.subheader-nav-item {
    display: flex;
    margin-right: 20px;
}

.subheader-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search {
    width: 220px;
    height: 28px;
    border: none;
    border-bottom: 1px solid #3C3C3B;
    background-color: transparent;
}
.button-basket {
    display: flex;
    align-items: center;
    background-color: #4B565E;
    border: 1px solid #F0BA4E;
    color: floralwhite;
    border-radius: 50px;
    padding: 10px 20px;
}
.basket {
    margin-left: 5px;
}

.content-container {
    justify-content: space-between;
}