
<header class="header">
  <div class="header-top" >
    <div class="header-container">
      <div style="display: flex; align-items:center; gap:10px">
        <div class="header-logo">
          <img src="../assets/logo.svg" alt="">
         </div>
         <nav class="header-menu">
   <ul class="header-items">
     <li>
   <a href=""> {{headerItem1}} </a>
     </li>
     <li>
   <a href="" > {{aboutCompany}}</a>
     </li>
<div></div>
     <li>
   <a href="" *ngIf="isShouCatalog"> {{headerItem3}}</a>
     </li>
     <button (click)="isShouCatalog = !isShouCatalog"  >Скрыть или показать каталог
     </button>
     <button (click)="changeTextMenu()"> Изменить текст </button>
   </ul>
         </nav>
      </div>


      <nav class="header-menu_2">
        <div class="header-info-container white-color">
          <div>
            <button routerLink="users">Users</button>
          </div>
          <img src="../assets/Phone.svg" alt="">
          <span>+
          793717677771</span>
          <img src="../assets/Vector.svg" alt="Избраное">
          <button class="cart-button header-info-item">
            <img src="../assets/Mask group.png" alt="cart">
            <div style="margin-left: 10px; font-size: 16px;">Пусто</div>
          </button>
        </div>

        </nav>

    </div>
  </div>

  <div class="header-bottom">
      <div class="header-container">


      <nav class="second-nav">
        <div class="second-nav-container">
        <div class="menu-items-container">
          <img src="../assets/light.svg" alt="Черточки">
          <span class="menu-item" *ngFor="let item of menuItems"> {{item}} </span>


        </div>
        <div class="menu-items-location">
          <div class="search-input">
            <input class="search-input" type="text" placeholder="Поиск, например Круг зачистной">
            <button>

            </button>
          </div>
          <img src="../assets/map-pin (2) 1.png" alt="moscow" style="width: 12px; height: 12px">
          <span class="menu-item-moscow">  Москва </span>
        </div>

      </div>



      </nav>



    </div>
    </div>
    </header>
