.users {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 30px;
  align-content: center;
  text-align: center;
}

.buttonforusers {
  margin-top: 10px;
  border-radius: 50px;
  margin-left: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1;
  background-color: white ;
  color: #4B565E;
  border-color: #F0BA4E;
  display: flex;
}

.buttoncontainer {
  display: flex;
}

.custom-button {
  background-color: #F0BA4E; 
  color: white;
}

.custom-button:hover {
  background-color: #4B565E;
}