<mat-card appearance="outlined" class="users">
  <mat-card-content>
    <p>{{(user).name}}</p>
    <p>{{(user).email}}</p>
    <p>{{(user).website}}</p>
    <p>{{(user).company.name}}</p>
    <div class="buttoncontainer">
      <button mat-raised-button (click)="openEditDialog()" style="margin: 5px;">Редактировать</button>
      <button mat-fab class="custom-button" (click)="OpenDeleteDialog(user.id)" style="margin-left: 40px ;">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
