<div style="display: flex;">
    <span *ngIf="isDeleteUser" class="success-message" matSnackBarLabel>
      Пользователь успешно удален!
    </span>
    <span *ngIf="isEditUser" class="success-message" matSnackBarLabel>
      Пользователь успешно обновлен!
    </span>
    <span *ngIf="isCreateUser" class="success-message" matSnackBarLabel>
      Пользователь успешно создан!
    </span>
    <span *ngIf="isDeleteTodo" class="success-message" matSnackBarLabel>
      Задача успешно удалена!
    </span>
    <span *ngIf="isEditTodo" class="success-message" matSnackBarLabel>
      Задача успешно обновлена!
    </span>
    <span *ngIf="isCreateTodo" class="success-message" matSnackBarLabel>
      Задача успешно создана!
    </span>
    <span matSnackBarActions>
      <button mat-button matSnackBarAction (click)="snackBarRef.dismissWithAction()">✓</button>
    </span>
</div>