<div class="item-favorite-cards">
  <div class="item-favorite-cards__header">
    <div class="cards__header-title">Популярные товары</div>
    <a href="#" class="cards__header-link">Посмотреть все товары</a>
  </div>

  <div class="item-favorite-cards__container">
    <div class="item-favorite-cards__item">
      <div class="cards-item__img">
        <img src="/assets/card-img.png" alt="" />
      </div>

      <div class="cards-item__block-1">
        <div>Круг зачистной 125*6*22</div>
        <span>Артикул 00004</span>
      </div>

      <div class="cards-item__block-2">
        <span>Цена за штуку</span>
        <div class="price-block">
          <span class="old-price price">52 руб.</span>
          <span class="price">48 руб.</span>
        </div>
      </div>

      <div class="cards-item__footer">
        <div class="cards-item__footer-left">
          <div class="cards-item__footer-text">Количество</div>
          <div class="cards-number">-<span>1</span>+</div>
        </div>
        <button type="button" class="cards-item__footer-btn">В корзину</button>
      </div>
    </div>

    <div class="item-favorite-cards__item">
      <div class="cards-item__img">
        <img src="/assets/card-img.png" alt="" />
      </div>

      <div class="cards-item__block-1">
        <div>Круг зачистной 125*6*22</div>
        <span>Артикул 00004</span>
      </div>

      <div class="cards-item__block-2">
        <span>Цена за штуку</span>
        <div class="price-block">
          <span class="old-price price">52 руб.</span>
          <span class="price">48 руб.</span>
        </div>
      </div>

      <div class="cards-item__footer">
        <div class="cards-item__footer-left">
          <div class="cards-item__footer-text">Количество</div>
          <div class="cards-number">-<span>1</span>+</div>
        </div>
        <button type="button" class="cards-item__footer-btn">В корзину</button>
      </div>
    </div>

    <div class="item-favorite-cards__item">
      <div class="cards-item__img">
        <img src="/assets/card-img.png" alt="" />
      </div>

      <div class="cards-item__block-1">
        <div>Круг зачистной 125*6*22</div>
        <span>Артикул 00004</span>
      </div>

      <div class="cards-item__block-2">
        <span>Цена за штуку</span>
        <div class="price-block">
          <span class="old-price price">52 руб.</span>
          <span class="price">48 руб.</span>
        </div>
      </div>

      <div class="cards-item__footer">
        <div class="cards-item__footer-left">
          <div class="cards-item__footer-text">Количество</div>
          <div class="cards-number">-<span>1</span>+</div>
        </div>
        <button type="button" class="cards-item__footer-btn">В корзину</button>
      </div>
    </div>

    <div class="item-favorite-cards__item">
      <div class="cards-item__img">
        <img src="/assets/card-img.png" alt="" />
      </div>
      <div class="cards-item__block-1">
        <div>Круг зачистной 125*6*22</div>
        <span>Артикул 00004</span>
      </div>
      <div class="cards-item__block-2">
        <span>Цена за штуку</span>
        <div class="price-block">
          <span class="old-price price">52 руб.</span>
          <span class="price">48 руб.</span>
        </div>
      </div>
      <div class="cards-item__footer">
        <div class="cards-item__footer-left">
          <div class="cards-item__footer-text">Количество</div>
          <div class="cards-number">-<span>1</span>+</div>
        </div>
        <button type="button" class="cards-item__footer-btn">В корзину</button>
      </div>
    </div>
  </div>
</div>
