<div class="component-forms">
    <h1>CREATE USER FORM</h1>
    <div class="form-item">
      <form class="form-item-group" [formGroup]="form">
        <mat-form-field class="form-input">
          <mat-label>Введите имя пользователя</mat-label>
          <input matInput formControlName="name">
          <mat-error>Некорректное значение</mat-error>
        </mat-form-field>
        <mat-form-field class="form-input">
          <mat-label>Введите email</mat-label>
          <input matInput formControlName="email">
          <mat-error>Некорректное значение</mat-error>  
        </mat-form-field>
        <mat-form-field class="form-input">
          <mat-label>Введите website</mat-label>
          <input matInput formControlName="website">
          <mat-error>Некорректное значение</mat-error>
        </mat-form-field>
        <div formGroupName="company">
        <mat-form-field class="form-input">
          <mat-label>Введите company</mat-label>
          <input matInput formControlName="name">
          <mat-error>Некорректное значение</mat-error>
        </mat-form-field>
      </div>
      <div class="button-position">
        <button class="button-form" matIconSuffix mat-icon-button [disabled]="form.invalid" type="submit" (click)="submitForm()">
          <mat-icon>expand_circle_down</mat-icon>
        </button>
        <button class="button-form" mat-icon-button mat-dialog-close>
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      </form>
    </div>
    </div>