.component-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.form-input {
  width: 300px;
}

.form-item {
  margin: 30px 30px 30px 0px;
}

.form-item-group {
  display: flex;
  flex-direction: column;
}

.button-position {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.add-element {
  color: green;
  transform: scale(1.5);
}

.cancel-element {
  color: red;
  transform: scale(1.5);
}