<h1 style="margin-left: 50px;">Create User Form</h1>
<div class="user_form">
    <form class="form_group" [formGroup]="formUser" (ngSubmit)="sumbitForm()">
        <p>Name:</p>
        <input type="text" class="form-input" formControlName="name" />
        <div
        *ngIf="formUser.controls['name'].invalid && (formUser.controls['name'].dirty || formUser.controls['name'].touched)"
    >
        <div class="text-error" *ngIf="formUser.controls['name'].errors">
            Имя введенно НЕ ВЕРНО
        </div></div>
        <p>Email:</p>
        <input type="text" class="form-input" formControlName="email" />
        <div
        *ngIf="formUser.controls['email'].invalid && (formUser.controls['email'].dirty || formUser.controls['email'].touched)"
    >
        <div class="text-error" *ngIf="formUser.controls['email'].errors">
            Email введенн НЕ ВЕРНО
        </div></div>
        <p>Website:</p>
        <input type="text" class="form-input" formControlName="website" />
        <div
        *ngIf="formUser.controls['website'].invalid && (formUser.controls['website'].dirty || formUser.controls['website'].touched)"
    >
        <div class="text-error" *ngIf="formUser.controls['website'].errors">
            Сайт введенн НЕ ВЕРНО
        </div></div>
        <p>Company Name:</p>
        <input type="text" class="form-input" formControlName="companyName" />
        <div
        *ngIf="formUser.controls['companyName'].invalid && (formUser.controls['companyName'].dirty || formUser.controls['companyName'].touched)"
    >
        <div class="text-error" *ngIf="formUser.controls['companyName'].errors">
            Имя КОМПАНИИ введенно НЕ ВЕРНО
        </div></div>
        <button class="add-user" [disabled]="formUser.invalid">
            CREATE USERS
        </button>
    </form>
</div>
