<form [formGroup]="form" style="display: flex; flex-direction: column; width: 300px; justify-content: center; padding: 10px">
  <mat-form-field class="example-full-width">
    <input  matInput type="text" placeholder="Имя пользователя" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input  matInput type="text" placeholder="email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Название компании" formControlName="company">
  </mat-form-field>
  <button mat-button (click)="onNoClick()" [disabled]="form.invalid">Создать</button>
</form>
