.user-form-create {
    display: flex;
    flex-direction: column;  
}
.user-form {
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.user-form-input {
    width: 300px;
    margin-top: 20px;
}
.user-form {
    margin: 0 0 30px 25px;
}