<form class="form-wrapper" [formGroup]="form">
  <mat-form-field>
    <mat-label>ИМЯ</mat-label>
    <input formControlName="name" matInput />
    <mat-error>ИМЯ ВВЕДЕНО НЕПРАВИЛНО</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ПОЧТА</mat-label>
    <input formControlName="email" matInput />
    <mat-error>ПОЧТА ВВЕДЕНА НЕПРАВИЛНО</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>САЙТ</mat-label>
    <input formControlName="website" matInput />
    <mat-error>САЙТ ВВЕДЕН НЕПРАВИЛНО</mat-error>
  </mat-form-field>

  <mat-form-field formGroupName="company">
    <mat-label>ИМЯ КОМПАНИИ</mat-label>
    <input formControlName="name" matInput />
    <mat-error>ИМЯ КОМПАНИИ ВВЕДЕНО НЕПРАВИЛНО</mat-error>
  </mat-form-field>

  <button
    mat-button
    [disabled]="form.invalid"
    [mat-dialog-close]="userWithUpdatedFields"
    matTooltip="Редактировать данные пользователя"
  >
    Редактировать
  </button>
</form>
