<section class="header">
  <div class="header-left">
    <span class="header-logo">
      <img src="assets/site-logo.svg" alt="ЛОГОТИП сайта" />
    </span>

    <nav class="header-nav">
      <div class="header-nav-link">
        <a class="header-nav-item" routerLink="/">{{ headerItem1 }}</a>

        <a class="header-nav-item">{{ aboutCompany }}</a>

        <a class="header-nav-item" *ngIf="isShowCatalog">{{ headerItem3 }}</a>
      </div>
    </nav>
    <button class="button" (click)="isShowCatalog = !isShowCatalog">
      Каталог
    </button>

    <button class="button" (click)="changeMenuText()">Текст</button>

    <button
      class="button__users"
      routerLink="/users"
      routerLinkActive="active-link"
    >
      Users
    </button>

    <button
      class="button__users"
      routerLink="/todos"
      routerLinkActive="active-link"
    >
      Задачи
    </button>

    <button
      class="button__users"
      routerLink="/admin"
      routerLinkActive="active-link"
    >
      Admin
    </button>

    <div>{{ currentDate | date : "medium" }}</div>
  </div>
  
  <button mat-button (click)="openDialog()">Login</button>

  <button mat-button (click)="logout()">Logout</button>

  <div class="header-right">
    <div class="header-logo-reversed">
      <img src="assets/phone.svg" alt="телефон" />
    </div>

    <nav class="header__nav">
      <a class="header__nav-item" href="tel:+79650842929">{{
        phone | customNoDash
      }}</a>

      <div class="header__nav-item">
        <img src="assets/heart.svg" alt="лайк" />
      </div>

      <div class="header__nav-item">
        <div class="header__cart">
          <button yellow class="header__cart-text">
            <img
              class="header__cart-img"
              src="assets/header-cart-icon.svg"
              alt="иконка-корзинки"
            />Пусто
          </button>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="header-bottom">
  <div class="header-bottom-left">
    <div class="header-bottom-logo">
      <img src="assets/three-stripe-icon.svg" alt="рисунок каталога" />
    </div>

    <nav class="bottom-left-nav">
      <div class="left-nav-link">
        <a class="left-nav-item" *ngFor="let item of menuItems">{{ item }}</a>
      </div>
    </nav>
  </div>

  <div class="header-right">
    <div class="header-bottom-search">
      <input type="text" placeholder="Поиск, например Круг зачистной" />
    </div>

    <div class="header-location">
      <img src="assets/location.svg" alt="геопозиция" />
    </div>
  </div>
</section>
