<form [formGroup]="form"
      style="display: flex; flex-direction: column; width: 300px; justify-content: center; padding: 10px">
  <mat-form-field class="example-full-width">
    <input formControlName="name" matInput placeholder="Имя пользователя" type="text">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input formControlName="email" matInput placeholder="email" type="text">
  </mat-form-field>
  <mat-form-field class="example-full-width" formGroupName="company">
    <input formControlName="name" matInput placeholder="Название компании" type="text">
  </mat-form-field>
  <button (click)="createUser()" [disabled]="form.invalid" mat-button>Создать</button>
</form>
