<span style="font-size: 30px; font-weight: 600px; margin-left: 200px;">Компонент списка юзеров</span>
<div style=
      "display: flex; flex-wrap: wrap; margin-left: 200px; width: 1440px; "
      >
  <div *ngFor="let user of usersService.users$ | async">
    <app-user-card [user]="user" (deleteUser)="deleteUser($event)"></app-user-card>
     <!-- {{$any(item).name}}
       <p>{{$any(item).email}}</p>
     <p>{{$any(item).website}}</p>
     <p>{{$any(item).phone}}</p>
     <p>{{$any(item).city}}</p>
     <p>{{$any(item).street}}</p> -->
</div>
</div>
      