<p>homepage works!</p>
<button (click)="isShowMujik = !isShowMujik">Скрыть/показать мужика</button>
    <div class="mujik"*ngIf="isShowMujik">{{!isShowMujik}}>
    <img 
        src="/assets/Rectangle 5.png"
        alt="background-large"
        style="width: 100%"/>
</div>

    <div></div>
        <div class="content-container">
            <div class="item-cards"></div>
                <div class="item-cards__pagination">
                    <button class="item-cards__pagination-button active-button" *ngFor="let item of newPages">{{item}}</button>
                   
                </div>
            <div>
	    <div class="Frame35">
	<img src="/assets/Frame_35.svg" alt="kartinki" />
	    </div>
    </div>
<div class="item-cards__grid">
        <div class="item-cards__grid-left">
            <div class="item-cards__grid-left-text">
		Строительный отделочный инструмент
	    </div>
	<div class="item-cards__grid-left-action">
		<span style="margin-right: 10px"> Перейти в каталог</span>
		    <a class="item-cards__grid-left-action-link">
		        <img src="/assets/Frame_20.svg" alt="strelka"/>
            </a>
	    </div>
	</div>
   
<div class="item-cards__grid-right">
    <div class="item-cards__right-block">
		<div class="image14">
		  <img src="/assets/image_14.svg" alt="left1"/>
	</div>
    <div class="item-cards__grid-right-action">
        <span style="margin-left: 220px"> Перейти в каталог</span>
            <a class="item-cards__grid-right-action-link">
            <img src="/assets/Frame_20.svg" alt="strelka"/>
            </a>
    </div>
	<div class="item-cards__grid-right-text">
		Эмали
	</div>
		</div>

<div class="item-cards__right-block">
    <div class="item-cards__grid-right2-text">
        Лакокрасочные материалы
	</div>
	    <div class="image_17">
            <img src="/assets/image_17.png" alt="vedro"/>
        </div>
        <div class="item-cards__grid-right-action">
            <span style="margin-left: 20px"> Перейти в каталог</span>
            <a class="item-cards__grid-right-action-link">
            <img src="/assets/Frame_20.svg" alt="strelka"/>
            </a>
        </div>
</div>
	<div class="item-cards__right-block">
        <div class="item-cards__grid-right2-text">
            Пены, клеи и герметики
        </div>
        <div class="image18">
            <img src="/assets/image_18.png" alt="acril"/>
        </div>
    <div class="item-cards__grid-right-action">
            <span style="margin-left: 20px"> Перейти в каталог</span>
            <a class="item-cards__grid-right-action-link">
            <img src="/assets/Frame_20.svg" alt="strelka"/>
            </a>
        </div>
	</div>
	<div class="item-cards__right-block">
        <div class="item-cards__grid-right2-text">
	Розетки и выключатели
	</div>
<div class="image15">
		<img src="/assets/image_15.png" alt="rozetka"/>
	</div>
<div class="item-cards__grid-right-action">
		<span style="margin-left: 200px">Перейти в каталог</span>
		<a class="item-cards__grid-right-action-link">
		<img src="/assets/Frame_20.svg" alt="strelka"/>
		</a>
	</div>
  </div>
    </div>
</div>
	<div class="item-cards__grid-popular">
	    <div class="Ptovar">Популярные товары</div>
    <div>
	    <a href="" class="jtovar">Посмотреть все товары</a>
    </div>
		</div>
<div class="cards1">
	<div>
		<div><img src="/assets/Скидки.png" alt="skidka"/>
			<img class="serce" src="/assets/Vector.png" alt="serce"/>
		</div>
		    <div> <img src="/assets/image_13.png" alt="krug"/>
		</div>
            <div><span class="krug"> Круг зачистной 125x6x22</span></div>
            <div><span class="articl"> Артикул 00004</span></div>
            <div><span class="cena"> Цена за штуку</span></div>
            <div><img src="/assets/Frame_42.png" alt="42" /></div>
    <div class="kolvo">
		<div>
		<p class="quantity"> Количество<p>
			<div class="mp">
		<button class="minus">-</button>
			<div>
				<input class="number1" value="1">
			</div>
		<button class="plus">+</button>
			</div>
		</div>
		<div class="basket">
		<span>В корзину</span>
		</div>
	</div>
</div>

<div>
	<div><img src="/assets/Скидки.png" alt="skidka"/>
		<img class="serce" src="/assets/Vector.png" alt="serce"/>
	</div>
	    <div><img src="/assets/image_13.png" alt="krug"/>
		</div>
	<div> <span class="krug"> Круг зачистной 125x6x22</span> </div>
	<div><span class="articl"> Артикул 00004</span> </div>
		<div><span class="cena"> Цена за штуку</span> </div>
		<div>  <img src="/assets/Frame_42.png" alt="42" /> </div>
<div class="kolvo">
		<div>
		<p class="quantity">Количество<p>
			<div class="mp">
		<button class="minus">-</button>
			<div>
				<input class="number1" value="1">
			</div>
		<button class="plus">+</button>
			</div>
		</div>
		<div class="basket">
		<span>В корзину</span>
		</div>
		</div>
	</div>

	<div>
	<div class="newitems">
		<img src="/assets/Frame_100.png" alt="newitems" /></div>
	
			<img class ="skidka3" src="/assets/Скидки.png" alt="skidka3"/>
	
			<img class="serce" src="/assets/Vector.png" alt="serce"/>
			
		<div> <img src="/assets/image_13.png" alt="krug"/>
		</div>
	<div> <span class="krug"> Круг зачистной 125x6x22</span></div>
	<div><span class="articl"> Артикул 00004</span> </div>
		<div><span class="cena"> Цена за штуку</span></div>
		<div><img src="/assets/Frame_42.png" alt="42"/></div>
<div class="kolvo">
		<div>
		<p class="quantity">Количество<p>
			<div class="mp">
		<button class="minus">-</button>
			<div>
				<input class="number1" value="1">
			</div>
		<button class="plus">+</button>
			</div>
		</div>
		<div class="basket">
		<span>В корзину</span>
		</div>
		</div>
	</div>


	<div>
		<div>  
			<div class="newitems">
		<img src="/assets/Frame_100.png" alt="newitems" /></div>
			<img class="serce" src="/assets/Vector.png" alt="serce"/>
			</div>
		<div> <img src="/assets/image_13.png" alt="krug"/>
		</div>
            <div> <span class="krug"> Круг зачистной 125x6x22</span></div>
            <div><span class="articl"> Артикул 00004</span></div>
            <div><span class="cena"> Цена за штуку</span></div>
            <div>  <img src="/assets/52.png" alt="42" /></div>
    <div class="kolvo">
		<div>
		<p class="quantity">Количество<p>
			<div class="mp">
		<button class="minus">-</button>
			<div>
				<input class="number1" value="1">
			</div>
		<button class="plus">+</button>
			</div>
		</div>
		    <div class="basket">
		<span>В корзину</span>
		    </div>
		</div>
	</div>
</div>

		<div class="drel">
		<div class="name10">
			<span >БОЛЕЕ 10 000 НАИМЕНОВАНИЙ</span>
			</div>
			<div class="inst">
			<p>Инструмент для вашего бизнеса, разнообразных марок</p>
		</div>
		<button class="next"> Перейти в каталог </button> 
	</div>

	<div>
	<p class="ntext">Новинки</p>

<div class="cards2">
	<div>
		<div>
			<div class="newitems">
		<img src="/assets/Frame_100.png" alt="newitems" /></div>
			<img class="serce" src="/assets/Vector.png" alt="serce"/>
			</div>
		<div> <img src="/assets/image_13.png" alt="krug"/>
		</div>
	<div> <span class="krug"> Круг зачистной 125x6x22</span></div>
	<div><span class="articl"> Артикул 00004</span> </div>
		<div><span class="cena"> Цена за штуку</span> </div>
		<div>  <img src="/assets/52.png" alt="42" /> </div>
<div class="kolvo">
		<div>
		<p class="quantity"> Количество<p>
			<div class="mp">
		<button class="minus">-</button>
			<div>
				<input class="number1" value="1">
			</div>
		<button class="plus">+</button>
			</div>
		</div>
		<div class="basket">
		<span>В корзину</span>
		</div>
		</div>
		
	</div>
	


	<div>
		<div>
			<div class="newitems">
		<img src="/assets/Frame_100.png" alt="newitems" /></div>
			<img class="serce" src="/assets/Vector.png" alt="serce"/>
			</div>
		<div> <img src="/assets/image_13.png" alt="krug"/>
		</div>
	<div> <span class="krug"> Круг зачистной 125x6x22</span> </div>
	<div><span class="articl"> Артикул 00004</span> </div>
		<div><span class="cena"> Цена за штуку</span> </div>
		<div>  <img src="/assets/52.png" alt="42" /> </div>
<div class="kolvo">
		<div>
		<p class="quantity"> Количество<p>
			<div class="mp">
		<button class="minus">-</button>
			<div>
				<input class="number1" value="1">
			</div>
		<button class="plus">+</button>
			</div>
		</div>
		<div class="basket">
		<span>В корзину</span>
		</div>
		</div>
	</div>
	<div>
		<div>
			<div class="newitems">
		<img src="/assets/Frame_100.png" alt="newitems"/></div>
			<img class="serce" src="/assets/Vector.png" alt="serce"/>
			</div>
		<div> <img src="/assets/image_13.png" alt="krug"/>
		</div>
	<div> <span class="krug"> Круг зачистной 125x6x22</span></div>
	<div><span class="articl"> Артикул 00004</span></div>
		<div><span class="cena"> Цена за штуку</span></div>
		<div><img src="/assets/52.png" alt="42"/></div>
<div class="kolvo">
		<div>
		<p class="quantity"> Количество<p>
			<div class="mp">
		    <button class="minus">-</button>
			<div>
				<input class="number1" value="1">
			</div>
		<button class="plus">+</button>
			</div>
		</div>
		<div class="basket">
		<span>В корзину</span>
		</div>
		</div>
		
	</div>
	
	<div>
		<div>
			<div class="newitems">
		<img src="/assets/Frame_100.png" alt="newitems" /> </div>
			<img class="serce" src="/assets/Vector.png" alt="serce"/>
			</div>
		<div><img src="/assets/image_13.png" alt="krug"/>
		</div>
	<div><span class="krug"> Круг зачистной 125x6x22</span></div>
	<div><span class="articl"> Артикул 00004</span></div>
		<div><span class="cena"> Цена за штуку</span></div>
		<div><img src="/assets/52.png" alt="42"/></div>
<div class="kolvo">
		<div>
		<p class="quantity"> Количество<p>
			<div class="mp">
		<button class="minus">-</button>
			<div>
				<input class="number1" value="1">
			</div>
		<button class="plus">+</button>
			</div>
		</div>
		    <div class="basket">
		        <span>В корзину</span>
		    </div>
		</div>
	</div>
</div>
    <footer class="footer"> 
        <div class="container"> 
             <div class="footer_content-wrapper">
        <div>
            <img src="/assets/Frame.svg" class="footer-logo">
        <div class="contact-wrapper">
            <div class="number-wrapper">
                <img src="/assets/call-calling.svg" class="contact-icon">
            <div class="contact-inner">
                <span class="contact-title">Контактный телефон</span>
                <a>+ 7 (812) 309-09-34</a>
                <a>+ 7 (965) 084-29-09</a>
            </div>
        </div>
    <div class="mail-wrapper">
        <img src="/assets/sms.svg" class="contact-icon">
        <div class="contact-inner">
            <span class="contact-title">Электронная почта</span>
            <a>tustin78&#64;mail.ru</a>
            <a>info&#64;tustin.ru</a>
        </div>
    </div>
</div>
    </div>
        <div class="footer_form-wrapper">
            <h3 class="footer_form-title">Остались вопросы?</h3>
            <p class="footer_form-text">Узнавайте первым о скидках, предложениях и 
            событиях еженедельно 
            в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</p>
            <form class="footer_form">
                <img src="/assets/sms.svg" class="footer_form-icon">
                <input class="footer_form-input" placeholder="Введите свою почту">
                <button class="footer_form-button">Отправить</button>
            </form>
        </div>
    </div>
        <div class="subfooter">
            <div class="subfooter-text"> 
                <p>Главная</p>
                <p>О компании</p>
                <p>Каталог</p>
            </div>
                <div class="subfooterinfo">
                <div class="icons">
                    <img src="/assets/Mini_Button.svg">
                    <img src="assets/yicon.svg">
                    <img src="assets/Social_icon.svg">
            </div>
                <p class="years">
                    © 2021-2022, EDE
                </p>
            </div>
        </div>
    </div>
</footer>














