<button (click)="isShouBunner = !isShouBunner">
    Показать или скрыть баннер
  </button>
  <main>
    <div>
      <div class="banner" *ngIf="isShouBunner">
        <img
          src="../assets/banner.jpg"
          alt="bacground-large"
          style="width: 100%"
        />
      </div>
    </div>
  </main>
  <div class="content-container_2">
    <div class="content">
      <div class="advantages">
        <div class="advantages-container">
          <div class="advantage-item">
            <img class="advantage-image" src="../assets/briks.svg" alt="" />
            <div class="advantage-content">
              <div class="advantage-content-title">
                Доставка стройматериалов
              </div>
              <div class="advantage-content-text">
                в течении четырех часов или в любое удобное время
              </div>
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-image" src="../assets/car.png" alt="" />
            <div class="advantage-content">
              <div class="advantage-content-title">
                Доставка стройматериалов
              </div>
              <div class="advantage-content-text">
                в течении четырех часов или в любое удобное время
              </div>
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-image" src="../assets/like.png" alt="" />
            <div class="advantage-content">
              <div class="advantage-content-title">Многоуровневая система</div>
              <div class="advantage-content-text">
                управления качеством по стандарту ISO 9001
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item-cards">
        <div class="item-cards_pagination">
          <button
            class="item-cards_pagination-button"
            *ngFor="let item of newPages"
          >
            {{ item }}
          </button>
        </div>
        <div class="item-cards_grid">
          <div class="item-cards_grid-left">
            <div class="item-cards_grid-left-text">
              Строительный отделочный инструмент
            </div>
            <div class="item-cards_grid-left-action">
              <span style="margin-right: 10px">Перейти в каталог</span>
              <a class="item-cards_grid-left-action-link">
                <img src="../assets/arrow-click.svg" alt="" />
              </a>
            </div>
          </div>

          <div class="item-cards_grid-right">
            <div class="item-cards__grid-right-block">
              <img src="../assets/image 14.svg" alt="" />
              <span class="text-enter-catalog">Перейти в каталог</span>
              <a>
                <img src="../assets/arrow-click.svg" alt="" />
              </a>
            </div>
            <div class="item-cards__grid-right-block">
              <img src="../assets/image 17.svg" alt="" />
            </div>
            <div class="item-cards__grid-right-block">33</div>
            <div class="item-cards__grid-right-block"></div>
          </div>
        </div>
      </div>
    </div>
  </div>




