<mat-card class="example-card" appearance="outlined" shadow>
  <mat-card-content>
    <div>
      <p>ТЕКСТ ЗАДАЧИ:</p>
    </div>
    <p>{{ todo.title | customTitleCut }}</p>

    <div>
      <p>АВТОР ЗАДАЧИ</p>
    </div>
    <p>{{ todo.userId }}</p>

    <div>
      <p>ЗАДАЧА ЗАВЕРШЕНА:</p>
    </div>
    <p>{{ todo.completed ? "ДА" : "НЕТ" }}</p>
  </mat-card-content>

  <mat-card-actions class="button-wrapper">
    <button (click)="deleteTodoDialog()" mat-raised-button class="button-one">
      Удалить задачу
    </button>
    <button (click)="editTodoDialog()" mat-raised-button class="button-two">
      Редактировать
    </button>
  </mat-card-actions>
</mat-card>
