<section class="footer">
  <div class="footer__container container">
    <div class="footer__container-wrapper">
      <div class="footer__contacts">
        <img
          src="../../../../assets/site-logo.svg"
          class="footer__logo"
          alt="ЛОГОТИП сайта"
          width="59"
          height="39px"
        />

        <div class="footer__contacts-wrapper1">
          <ul class="footer__contacts-wrapper">
            <li class="footer__contacts-icon">
              <img
                src="../../../../assets/call-calling.svg"
                alt=""
                class="footer__contacts-image"
              />
            </li>

            <li class="footer__contacts-content">
              <span class="footer__contacts-title">Контактный телефон</span>

              <a class="footer__contacts-phone" href="tel:+78123090434"
                >+ 7 (812) 309-09-34</a
              >

              <a class="footer__contacts-phone" href="tel:+79650842909"
                >+ 7 (965) 084-29-09</a
              >
            </li>
          </ul>

          <div class="footer__contacts-wrapper">
            <span class="footer__contacts-icon">
              <img
                src="../../../../assets/mail.svg"
                alt=""
                class="footer__contacts-image"
              />
            </span>

            <li class="footer__contacts-content">
              <span class="footer__contacts-title">Электронная почта</span>

              <span class="footer_contacts-mail" href="mailto:tustin78.mail.ru"
                >tustin78.mail.ru</span
              >

              <span class="footer_contacts-mail" href="mailto:info.tustin.ru"
                >info.tustin.ru</span
              >
            </li>
          </div>
        </div>
      </div>

      <span class="footer__inline-vertical"></span>

      <div class="footer__email">
        <div class="footer__title-wrapper">
          <h3 class="footer__title">Остались вопросы?</h3>

          <p class="footer__label">
            Узнавайте первым о скидках, предложениях и событиях еженедельно в
            своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
          </p>

          <li class="footer__form-wrapper">
            <img
              src="../../../../assets/mail.svg"
              alt=""
              class="footer__input-icon"
              width="16px"
              height="16px"
            />

            <input
              type="email"
              placeholder="Введите свою почту"
              class="footer__input"
            />

            <button type="submit " class="footer__email-submit">
              Отправить
            </button>
          </li>
        </div>
      </div>
    </div>

    <span class="footer__inline-horizontal"></span>

    <div class="footer__navigation-wrapper">
      <nav class="footer__navigation">
        <li class="footer__navigation-link">
          <span class="footer__navigation-item">{{ headerItem1 }}</span>

          <span class="footer__navigation-item">{{ aboutCompany }}</span>

          <span class="footer__navigation-item">{{ headerItem3 }}</span>
        </li>
      </nav>

      <div class="footer__copyright-wrapper">
        <li class="social-icons-wrapper">
          <img
            class="footer__social-icons"
            src="../../../../assets/facebook-icon.svg"
            alt="фейсбук"
          />

          <img
            class="footer__social-icons"
            src="../../../../assets/youtube-icon.svg"
            alt="ютуб"
          />

          <img
            class="footer__social-icons"
            src="../../../../assets/whatsapp-icon.svg"
            alt="ватсап"
          />
        </li>

        <span class="footer__copyright">{{ footer__copyright }}</span>
      </div>
    </div>
  </div>
</section>
