.component-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    padding: 15px;
  }
  
  .form-input {
    width: 300px;
  }
  
  .form-item {
    margin: 30px auto;
    align-self: center;
  }
  
  .form-item-group {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .button-position {
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-around;
  }
  
  .add-element {
    color: green;
    transform: scale(1.5);
  }

  .cancel-element {
    color: red;
    transform: scale(1.5);
  }