.main-bg__img {
    width: 100%;
}

.content-container {
    width: 1320px;
    margin: 0 auto;
}

.item-cards__pagination {
    display: flex;
    justify-content: end;

    &-button {
        border: none;
        background: none;
        cursor: pointer;
        color: #a1a0a0;
    }
}

.active-button {
    color: #f0ba4e;
    font-weight: 600;
}

.item-cards__grid {
    display: flex;
    gap: 28px;
}

.item-cards__grid-left {
    height: 428px;
    width: 421px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    max-height: 428px;
    max-width: 421px;
    min-width: 421px;
    background-image: url('/assets/left-img.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-cards__grid-left-text {
    font-size: 28px;
    font-weight: 600;
}

.item-cards__grid-left-action {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-cards__grid-left-action-link {
    width: 40px;
    height: 40px;
}

.item-cards__grid-right {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.item-cards__grid-right-block {
    height: 200px;
    width: 421px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    max-height: 200px;
    max-width: 421px;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-action {
    align-self: flex-start;
}

.right-block-text {
    text-align: right;
}

.right-block-1 {
    background-image: url('/assets/right-img-1.png');
    background-position: left bottom;
}

.right-block-2 {
    background-image: url('/assets/right-img-2.png');
    background-position: right bottom;
}

.right-block-3 {
    background-image: url('/assets/right-img-3.png');
    background-position: right bottom;
}

.right-block-4 {
    background-image: url('/assets/right-img-4.png');
    background-position: left bottom;
}

.item-favorite-cards__header {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.cards__header-title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 28px;
    color: #000000;
}

.cards-item__img {
    position: relative;
}

.cards-item__img::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/assets/heart2.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.cards-item__img:hover::after {
    opacity: 1;
}

.cards__header-link {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: #f0ba4e;
    text-decoration: none;
}

.item-favorite-cards__container {
    display: flex;
    gap: 28px;
}

.item-favorite-cards__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    background-color: white;
    height: 429px;
    width: 309px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.item-favorite-cards__item > * {
    line-height: 28px;
}

.cards-item__block-1 > * {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #3c3c3b;
}

.cards-item__block-1 > span {
    font-size: 16px;
}

.cards-item__block-2 > span {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: #a1a0a0;
}

.price-block {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #3c3c3b;
    display: flex;
    gap: 16px;
}

.old-price {
    text-decoration-line: line-through;
    font-size: 16px;
}

.cards-item__footer-btn {
    padding: 14px 28px;
    border: 1px solid #f0ba4e;
    border-radius: 54px;
    background-color: white;
}

.cards-item__footer {
    display: flex;
    gap: 32px;
}

.cards-item__footer-left {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.cards-number {
    display: flex;
    align-items: center;
}

.cards-number > span {
    font-size: 20px;
    margin-left: 16px;
    margin-right: 16px;
}

.more-names {
    margin-top: 56px;
    height: 251px;
    background-image: url('/assets/worker.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
}

.more-names__title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 28px;
    text-align: left;
    text-transform: uppercase;
    color: #3c3c3b;
}

.more-names__subtitle {
    margin-top: 16px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: #a1a0a0;
}

.more-names__link {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: #f0ba4e;
}

.footer {
    margin-top: 48px;
    background-color: #4B565E;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 34px 0 52px 0;
}

.footer-width {
    width: 660px;
}

.footer-contacts {
    display: flex;
    gap: 56px;
}

.footer-contact {
    display: flex;
    gap: 12px;
}

.footer-descr {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > span {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
    }
}

.footer-title {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6000000238418579);
}

.footer-rigth {
    padding: 34px 0px 34px 126px;
    border-left: 1px solid #566169;
}

.footer-question {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}

.footer-rigth > p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6000000238418579);
}

form {
    margin-top: 32px;
    width: 534px;
    height: 48px;
    padding-left: 24px;
    border: 1px solid #f0ba4e;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > button {
        padding: 12px 19px;
        background: #f0ba4e;
        border-radius: 30px;
        border: none;
        margin: 3px;
    }
    & > input {
        background-color: #4B565E;
        border: none;
        min-width: 70%;
    }
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 53px;
    padding-top: 34px;
    padding-bottom: 32px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
}

.footer-icons-items {
    display: flex;
    gap: 20px;
}

.footer-links {
    display: flex;
    gap: 28px;
    & > a {
        text-decoration: none;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
    }
}

.footer-date {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6000000238418579);
}