<h1 class="title_form">Создание <br> задачи</h1>

<form class="create_todo_form" [formGroup]="form">
    
    
    <mat-form-field class="custom-wigth">
        <mat-label>Текст задачи</mat-label>
        <input matInput type="text" formControlName="title">
    </mat-form-field>


    <mat-form-field class="custom-wigth">
        <mat-label>Автор задачи</mat-label>
        <input matInput type="text" formControlName="userId">
    </mat-form-field>


    <mat-form-field class="custom-wigth">
        <mat-label>Статус задачи</mat-label>
        <mat-select formControlName="completed">
            <mat-option [value]="true">Да</mat-option>
            <mat-option [value]="false">Нет</mat-option>
        </mat-select>
    </mat-form-field>
    
</form>

<div class="btn_container">
        <button 
        mat-fab extended 
        [disabled]="form.invalid" 
        class="create_btn"
        type="button"
        [mat-dialog-close]="form.value">

        <mat-icon>add</mat-icon>
        СОЗДАТЬ
    
        </button>
    </div>