<h1>CREATE TODO FORM</h1>
<div style="margin: 30px 30px 30px 0;">
    <form style="display: flex; flex-direction: column;" [formGroup]="form">
        <!-- <form style="display: flex; flex-direction: column;" [formGroup]="form" (ngSubmit)="submitForm()"> -->

        <mat-form-field class="mat-form-field">
            <mat-label>Add TITLE</mat-label>
            <input matInput class="form-input" formControlName="title">
            <mat-error>Error</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
            <mat-label>Add USER ID</mat-label>
            <input matInput class="form-input" formControlName="userId">
            <mat-error>Error</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
            <mat-label>Add COMPLETED</mat-label>
            <input matInput class="form-input" formControlName="completed">
            <mat-error>Error</mat-error>
        </mat-form-field>

        <button matIconSuffix mat-button [disabled]="form.invalid" class="mat-form-field" [mat-dialog-close]="this.form.value">
            CREATE TODO
            <mat-icon>add_circle</mat-icon>
        </button>
        
    </form>
</div>