.create_btn {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 186, 78, 1) !important;
    color: rgba(75, 86, 94, 1) !important;
    font-weight: 900;

}


.create_todo_form {
    display: flex;
    flex-direction: column;
    margin: 50px;
    max-width: 200px;
}

.btn_container {
    padding: 10px;
}

.title_form {
    padding: 10px;
}


.custom-wigth {
    width: 200px;
}