<div class="header">
  <div class="app-auth">
    <app-auth
      (showAdminPage)="isAdminPageToggle($event)"
      (showUserPage)="isUserPageToggle($event)"
    ></app-auth>
    <ng-container *ngIf="isAdminPage">
      <button routerLink="/admin" class="header-nav-item admin">
        Администратор
      </button>
    </ng-container>
    <ng-container *ngIf="isUserPage">
      <button routerLink="/user" class="header-nav-item admin">
        Мой профиль
      </button>
    </ng-container>
  </div>
  <div class="content-container header-container">
    <div class="header-left">
      <div class="header-logo">
        <img src="/assets/Frame.svg" alt="Logo" />
      </div>
      <nav class="header-nav">
        <ng-container *ngFor="let headerItem of headerItems">
          <a [routerLink]="headerItem.link" class="header-nav-item">{{
            headerItem.title
          }}</a>
        </ng-container>
        <a routerLink="/users" class="header-nav-item">Пользователи</a>
        <a routerLink="/todos" class="header-nav-item">Задачи</a>
        <button type="button" (click)="changeMenuText()">Изменить текст</button>
      </nav>
    </div>
    <div class="header-right">
      <div class="header-right-item">
        <img class="header-img-tel" src="/assets/Phone.svg" alt="1" />
        <div class="header-number">+7 (965) 084-29-29</div>
      </div>
      <div class="header-right-item">
        <img class="header-img-fav" src="/assets/heart1.svg" alt="2" />
      </div>
      <button bgColor type="button" class="header-right-item header-btn">
        <img class="header-img-basc" src="/assets/basc.svg" alt="3" />
        <div>Пусто</div>
      </button>
    </div>
  </div>
</div>

<div class="subheader">
  <div class="content-container subheader">
    <div class="subheader-catalog">
      <div
        *ngFor="let item of menuItems; let i = index"
        class="subheader-catalog-item"
      >
        <ng-container *ngIf="i === 0">
          <img class="subheader-catalog-img" src="/assets/lines.png" alt="" />
        </ng-container>
        <div>{{ item }}</div>
      </div>
      <div class="header-nav-item">{{ today | date : "medium" }}</div>
    </div>

    <div class="subheader-search">
      <div class="subheader-input">
        <input placeholder="Поиск, например Круг зачистной " type="text" />
      </div>

      <div class="subheader-locaition">
        <div class="subheader-locaition-img">
          <img src="/assets/map.png" alt="" />
        </div>
        <div>Москва</div>
      </div>
    </div>
  </div>
</div>
