<h1 style="margin-left: 50px;">Create Todos Form</h1>
<div class="todos_form">
    <form class="form_group" [formGroup]="formTodo" >
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>ТЕКСТ ЗАДАЧИ:</mat-label>
            <input matInput type="text" formControlName="title" />
            <mat-error *ngIf="formTodo.controls['title'].invalid && (formTodo.controls['title'].dirty || formTodo.controls['title'].touched)">
              Введите больше текста для задачи
            </mat-error>
          </mat-form-field>
        <mat-form-field  class="form-field">
            <mat-label>Автор ЗАДАЧИ</mat-label>
            <input matInput type="number" formControlName="userId" />
          </mat-form-field>
        <mat-form-field  class="form-field">
            <mat-label>ЗАДАЧА ЗАВЕРШЕНА:</mat-label>
            <mat-select formControlName="completed">
              <mat-option [value]="true">Да</mat-option>
              <mat-option [value]="false">Нет</mat-option>
            </mat-select>
          </mat-form-field>
    </form>
    <button mat-raised-button  type="submit" color="primary" class="add-todo"  [disabled]="formTodo.invalid" (click)="submitForm()" matTooltip="Редактировать данные пользователя">
        Редактировать 
    </button>
    <button mat-raised-button color="primary" class="close-todo" mat-dialog-close>
        Закрыть
    </button>
</div>