<mat-card class="component-forms" appearance="outlined">
  <h3 mat-dialog-title>
    Вы действительно ходите удалить задачу? {{ this.data.todo.title }}?
  </h3>
  <mat-card-title>
    <div class="button-position">
      <button mat-button cdkFocusInitial [mat-dialog-close]="true">
        <mat-icon class="delete-element">delete</mat-icon>
      </button>
      <button mat-button mat-dialog-close>
        <mat-icon class="cancel-element">cancel</mat-icon>
      </button>
    </div>
  </mat-card-title>
</mat-card>
