.component-cards-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.text-height {
  line-height: 15px;
}

.card-buttons {
  align-self: center;
  width: 70px;
  border-radius: 18px;
  border: none;
  background: linear-gradient(45deg, blue, purple, pink, red, transparent);
}

.card-change { 
  display: flex;
  justify-content: space-between;
}