<div class="component-cards-item">
  <div class="text-height">
    <p>ТЕКСТ ЗАДАЧИ:</p>
    <div>{{ todo.title | CutText }}</div>
    <p>АВТОР ЗАДАЧИ</p>
    <div>{{ todo.userId }}</div>
    <p>ЗАДАЧА ЗАВЕРШЕНА</p>
    <div>{{ todo.completed ? "ДА" : "НЕТ" }}</div>
  </div>
  <div class="card-change">
  <button mat-stroked-button class="card-buttons delete" (click)="openDeleteDialog()">
    <mat-icon class="delete-element">delete</mat-icon>
  </button>
  <button mat-stroked-button class="card-buttons edit" (click)="openEditDialog()">
    <mat-icon class="edit-element">edit Square</mat-icon>
  </button>
</div>
</div>
