.component-cards-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  background: var(--mat-background, #f5f5f5);
  transition: background 1s ease;
}

.component-cards-item:hover {
  background: var(--mat-primary, #4aade6);
}

.text-height {
  line-height: 14px;
}

.card-buttons { 
  align-self: center;
  width: 70px;
  border-radius: 18px;
  border: none;
  background: var(--mat-background, #f5f5f5);
  transition: background 0.5s ease;
}
  
.delete:hover { 
  background: var(--mat-primary, #e9e50afb);
}

.edit:hover {  
  background: var(--mat-primary, #7fd381);
}

.card-change {
  display: flex;
  justify-content: space-between;
}

.delete-element {
  color: green;
  transform: scale(1.5);
}

.edit-element {
  color: rgb(231, 88, 36);
  transform: scale(1.5);
}

