<div class="component-cards-item">
  <div class="text-height">
    <p>ТЕКСТ ЗАДАЧИ:</p>
    <div>{{ todo.title | CutText }}</div>
    <p>АВТОР ЗАДАЧИ</p>
    <div>{{ todo.userId }}</div>
    <p>ЗАДАЧА ЗАВЕРШЕНА</p>
    <div>{{ todo.completed ? "ДА" : "НЕТ" }}</div>
  </div>
  <div class="card-change">
  <button mat-stroked-button class="card-buttons" (click)="openDeleteDialog()">Delete</button>
  <button mat-stroked-button class="card-buttons" (click)="openEditDialog()">Edit</button>
</div>
</div>
