.title {
  max-width: 1320px;
  display: flex;
  margin: 8px auto;
  color: #3C3C3B;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}


.content-container{
  margin: 50px;
}

mat-ff{
  overflow: visible;
}

