<footer class="footer">
  <div class="wrapper-footer">
    <div class="container">
      <div class="footer-top">
        <div class="footer-left">
          <div class="footer-logo">
            <img src="/assets/Frame.svg" alt="логотип сайта" />
          </div>
          <div class="footer-contacts">
            <div class="footer-contacts__telephone">
              <div class="footer-img">
                <img src="/assets/Phone.svg" alt="вызов" />
              </div>
              <div class="contacts-phone">
                <p class="contacts-phone__text">Контактный телефон</p>
                <a class="contact-phone" href="tel:88123090934"
                  >+ 7 (812) 309-09-34</a
                >
                <a class="contact-phone" href="tel:89650842909"
                  >+ 7 (965) 084-29-09</a
                >
              </div>
            </div>
            <div class="footer-contacts__email">
              <div class="footer-img">
                <img src="/assets/sms.svg" alt="" />
              </div>
              <div class="contacts-email">
                <p class="contacts-email__text">Электронная почта</p>
                <a class="contact-email" href="tel:88123090934"
                  >+ 7 (812) 309-09-34</a
                >
                <a class="contact-email" href="tel:89650842909"
                  >+ 7 (965) 084-29-09</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="footer-right">
          <div class="subscription-inform">
            <h3 class="subscription-inform__title">Остались вопросы?</h3>
            <p class="subscription-inform__text">
              Узнавайте первым о скидках, предложениях и событиях еженедельно в
              своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
            </p>
          </div>
          <div class="subscription-form">
            <form class="container-input" action="#">
              <input type="email" placeholder="Введите свою почту" />
              <div class="wrapper-btn">
                <button
                  type="submit"
                  class="subscription-form__btn"
                  type="submit"
                >
                  Отправить
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <ul class="footer-nav">
          <li><a href="#">Главная</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Каталог</a></li>
        </ul>
        <div class="footer-social">
          <div class="footer-social__icons">
            <img
              class="social-icon"
              src="/assets/facebook.svg"
              alt="facebook"
            />
            <img class="social-icon" src="/assets/youtube.png" alt="youtube" />
            <img
              class="social-icon"
              src="/assets/WhatsApp.svg"
              alt="WhatsApp"
            />
          </div>
          <div>
            <div class="footer-social__text">© 2021-2022, EDE</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
