<div class="footer">
    <div class="container-4">
      <div class="footer-top">
        <div class="footer-top-left">
          <div class="footer-top-left-logo">
            <img class="footer-top-left-logo-img" src="/assets/Frame.svg" alt="logo">
          </div>
        
          <div class="footer-info">
          <div class="footer-phone">
            <img src="/assets/call_calling.png" alt="phone">
          </div>
          <div class="footer-contacts">
            <div class="footer-contacts-text">Контактный телефон</div>
          <a   href="tel:+78123090934" class="contacts-number-1">+ 7 (812) 309-09-34</a>
            <a href="tel:+79650842929" class="contacts-number-2">+ 7 (965) 084-29-29</a>
          </div>
          <div class="footer-mail-info">
            <div class="footer-mail">
              <img src="/assets/Icon__2.png" alt="mail">
            </div>
            <div class="footer-mail-text">
              <div class="footer-mail-text-1">Электронная почта</div>
              <a href="mailto:tustin78@mail.ru" class="footer-mail-text-2">
                <div class="m-1">tustin78&#64;mail.ru</div>
              </a>
              <a href="mailto:info@tustin.ru" class="footer-mail-text-3">
                <div class="m-2">info&#64;tustin.ru</div>
              </a>
            </div>
          </div>
         </div>
        </div>
        <div class="footer-top-right">
          <div class="question-block">
            <div class="quantity-block-title">
              <div class="quantity-block-title-text-1">Остались вопросы?</div>
              <div class="quantity-block-title-text-2">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</div>
            </div>
          </div>
          <div class="poisck">
           <div class="search-form">
            <div class="conwert-mail">
              <img style="height: 16px; width: 16px;" src="/assets/Icon__2.png" alt="mail">
            </div>
            <input class="input-search" type="text" placeholder="Введите свою почту">
            <button type="submit">Отправить</button>
           </div>
          </div>
        </div>
      </div>
     <div class="footer-bottom">
        <div class="footer-bottom-block-menu">
          <div class="footer-bottom-block-menu-item">Главная</div>
          <div class="footer-bottom-block-menu-item">О компании</div>
          <div class="footer-bottom-block-menu-item">Каталог</div>
        </div>
        <div class="bottom-bar">
          <div class="bottom-bar-left">
            <img src="/assets/Mini_Button.svg" alt="f">
            <img src="/assets/youtube.svg" alt="u">
            <img src="/assets/Social_Icons.svg" alt="w">
          </div>
          <div class="bottom-bar-right">© 2021-20212, EDE</div>              
        </div>
     </div>
    </div> 
