.todos {
  &-card {
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 250px;
    }
  }

  &-text {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
  }

  &-task {
    color: #3c3c3b;
    font-size: 15px;
    margin: 0;
  }
}

.delete-btn {
  background-color: transparent;
  border: 1px solid #f0ba4e;
  border-radius: 30px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3c3c3b;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: #f0ba4e;
    color: #fff;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  padding: 0;

  &:first-child {
    padding-top: 0;
  }
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
