


.todoCard {
    width: 250px;
    max-width: 250px;
    min-height: 250px;
    margin-bottom: 20px;
    margin-right: 60px;
    display: flex;
    justify-content: space-evenly;
}

.btns {
    display: flex;
}

.edit_btn {
    width: 150px;
}