<mat-card class="todoCard" appearance="outlined">
    <mat-card-header>
        <mat-card-title> Автор задачи: {{todo.userId}} </mat-card-title>
    </mat-card-header>
    
    
    <mat-card-content>
        
        <p> Текст задачи:<br> {{todo.title | shortField}} </p>
        
        <p> Задача выполнена? <br> {{todo.completed | booleanTrans}} </p>
        
    </mat-card-content>

 
    <mat-card-actions class="btns">
        <button mat-raised-button
                 type="button" 
                 class="deleteButton" 
                 (click)="openDialogDelete()">Удалить</button>
        
         <button mat-raised-button
                type="button"
                matTooltip="Редактировать данные пользователя" 
                class="deleteButton edit_btn" 
                (click)="openDialog()">Редактировать</button>
    </mat-card-actions>
</mat-card>