<div>
    <p> ТЕКСТ ЗАДАЧИ:</p>
    <div>{{ todo.title | customMaxLenght }}</div>
    <p>Автор ЗАДАЧИ</p>
    <div>"{{ todo.userId }}"</div>
    <p>ЗАДАЧА ЗАВЕРШЕНА:
     {{ todo.completed ? 'Да' : 'Нет' }} </p>
</div>
<div class="buttons">
    <div class="edit">
      <button mat-raised-button color="primary" (click)="onEditTodo(todo)">Edit</button>
    </div>
    <div class="delete">
      <button mat-raised-button color="warn" (click)="onDeleteTodo(todo.id)">Delete</button>
    </div>
</div>

