.buttons {
    display: flex;
    justify-content: space-between;
}
.edit button {
    border-radius: 8px;
    font-size: 16px;
  }
  
  .delete button {
    border-radius: 8px;
    font-size: 16px;
  }
  button {
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }