
.user-block {
  height: 250px;
  width: 230px;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3c3c3b;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.delete-user {
  width: 90px;
  height: 27px;
  border-radius: 54px;
  border: 1px solid #f0ba4e;
  background: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3b;
  cursor: pointer;
}

.edit-user {
  width: 140px;
  height: 27px;
  border-radius: 54px;
  border: 1px solid #f0ba4e;
  background: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3b;
  cursor: pointer;
}