<div class = "user-card-style">
    <p>{{user.name}}</p>
     <p>{{user.email}}</p>
     <p>{{user.website}}</p>
     <p>{{user.company.name}}</p>
     <button class="user-card-button-style" (click)="onDeleteUser(user.id)" mat-flat-button
              matTooltip="Удалить пользователя"
              aria-label="Button that displays a tooltip when focused or hovered over">
        Удалить
     </button>
     <button class= user-card-button-style (click)="openDialog()" mat-flat-button
              matTooltip="Редактировать пользователя"
              aria-label="Button that displays a tooltip when focused or hovered over">
        Редактировать
     </button> 
</div>