.users_cards {
    width: 309px;
    height: 429px;
    box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
    margin-top: 10px;
    margin-left: 10px;
}

.button_card {
    width: 180px;
    height: 30px;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border: none;
    border-radius: 20px;
    color: aliceblue;
}