--root {
 font-family: 'Inter';
}
.name {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
}
.subtitle {
 text-decoration: none;
 color: #000;
}

.delete-position {
 display: flex;
 align-items: center;
 justify-content: center;
}

.delete-user {
  justify-content: center;
  margin: 42px;
  border: 1px solid #f0ba4e;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

.delete-user-text {
  font-weight: 600;
}