<div shadow class="card-component">
    <div class="userCard">
        <p red>{{user.name | customUpperCase}}</p>
        <p red>{{user.email | customUpperCase}}</p>
        <p red>{{user.website | customUpperCase }}</p>
        <p red>{{user.company.name | customUpperCase }}</p>
    </div>
    <div class="card-charge">
        <button mat-raised-button class="delete-user" (click)="openDeleteDialog()">Delete</button>
        <button mat-raised-button (click)="openDialog()">Edit</button>
    </div>
</div>