--root {
 font-family: 'Inter';
}

.name {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
}

.subtitle {
 text-decoration: none;
 color: #000;
}

.delete-position {
 margin-top: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.delete-user-text {
  font-weight: 600;
}