.user {
  &-card {
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 250px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;
    }
  }

  &-name {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  &-email,
  &-website,
  &-company {
    cursor: pointer;
    text-decoration: none;
    color: #3c3c3b;
    font-size: 15px;
  }

  &-company {
    &-bold {
      font-weight: 700;
    }
  }
}

.delete-btn {
  background-color: transparent;
  border: 1px solid #f0ba4e;
  border-radius: 30px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3c3c3b;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: #f0ba4e;
    color: #fff;
  }
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
