.snack-bar{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}   

.button{    
    color: rgb(0, 153, 255);
    background: transparent;
}