<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="/assets/Frame.svg" alt="">
    </div>
    <nav class="header-nav">
   <div class="header-nav-item">{{headerItem1}}</div>
      <div class="header-nav-item">{{aboutCompany}}</div>
      <div class="header-nav-item">{{headerItem3}}</div>
    </nav>
  </div>
  <div class="header-right">
    <nav class="header-nav">
      <div class="header-nav-item-right">
        <img class="nav-bar-icon" src="/assets/phone.png" alt="">
        <span>+7 (965) 084-29-29</span>
      </div>
      <div class="header-nav-item-right">
        <img src="/assets/heart.svg" alt="">
      </div>
      <div class="header-nav-item-right">
        <button class="cart-button">
          <img src="/assets/Mask-group.svg" alt="">
          <span>Пусто</span>
        </button>
      </div>
    </nav>
  </div>
  
</div>

<div class="top-bar">
  <div class="top-bar-left">
    <button (click) ="isUpperCase = !isUpperCase">
      <span *ngIf="!isUpperCase">小</span>
      <span *ngIf="isUpperCase">大</span>
    </button>
    <div class="top-bar-menu-var">
      <div class="top-bar-menu" *ngFor="let item of menuItemsUpperCase">
        <div class="catalogue" *ngIf="item === 'КАТАЛОГ'">
          <img class="catalogue-svg" src="/assets/light.svg" alt="">
        </div>
        <a href="#home">{{item}}</a>
      </div>
    </div>

    
    
    
      <div class="top-bar-left-element">
      </div>
  </div>
  <div class="top-bar-right">
    <div class="search-box">
      <input class="search-bar" type="text" placeholder="Поиск, Например круг зачистной...">
      <button class="srch-btn">
        <img src="/assets/find_icon.svg" alt="">
      </button>
    </div>
    <div class="location">
      <div>
          <img class="banner" src="/assets/map-pin.svg" alt="">
      </div>
      <div>
          <span>Дублин</span>
      </div>
    </div>
  </div>
</div>

<div class="big_banner">
  <button class="hide-N-show__btn" (click)="isShowBanner = !isShowBanner">
    <span *ngIf="isShowBanner">скрыть 区</span>
    <span *ngIf="!isShowBanner">показать 口</span>
  </button>
  <img *ngIf="isShowBanner" style="width: 100%;" src="/assets/баннер.svg" alt="">
</div>



<div class="content-container">
  <div class="item-cards">

    <div class="info-block">
        <div class="info-block-element">
            <img src="/assets/mask_group_1.svg" alt="">
            <div class="info-block-element-text">
                <span>Большой ассортимент</span>
                <span>строительных материалов всегда в наличии</span>
            </div>
              
        </div>
        <div class="info-block-element">
            <img src="/assets/mask_group_2.svg" alt="">
            <div class="info-block-element-text">
                <span>Большой ассортимент</span>
                <span>строительных материалов всегда в наличии</span>
            </div>
        </div>
        <div class="info-block-element">
            <img src="/assets/mask_group_3.svg" alt="">
            <div class="info-block-element-text">
              <span>Большой ассортимент</span>
              <span>строительных материалов всегда в наличии</span>
            </div>
        </div>
    </div>

    <div class="item-cards__pagination">
        <button class="item-cards__pagination_button"
        *ngFor="let item of newPages">{{item}}</button>
    </div>

    
    <div class="item-cards__grid">
        <div class="item-cards__grid-left">
          <div class="item-card__grid-left-text">
            Строительный отделочный инструмент
          </div>
          <div class="item-card__grid-left-action">
            <span>Перейти в каталог</span>
            <a class="item-card__grid-left-action-link" href=""><img src="/assets/Frame_20.svg" alt=""></a>
          </div>
        </div>
        <div class="item-cards__grid-right">
            <div class="item-cards__grid-right-block1">
              <div class="item-card__grid-right-text" style="text-align: right;">
                Эмали
              </div>
              <div class="item-card__grid-right-action l1">
                <span>Перейти в каталог</span>
                <a class="item-card__grid-right-action-link" href=""><img src="/assets/Frame_20.svg" alt=""></a>
              </div>
            </div>
            <div class="item-cards__grid-right-block2">
              <div class="item-card__grid-right-text">
                Лакокрасочные материалы
              </div>
              <div class="item-card__grid-right-action l2">
                <span>Перейти в каталог</span>
                <a class="item-card__grid-right-action-link" href=""><img src="/assets/Frame_20.svg" alt=""></a>
              </div>
            </div>
            <div class="item-cards__grid-right-block3">
              <div class="item-card__grid-right-text">
                <span>Пены, клеи и <br>герметики</span>
              </div>
              <div class="item-card__grid-right-action l3">
                <span>Перейти в каталог</span>
                <a class="item-card__grid-right-action-link" href=""><img src="/assets/Frame_20.svg" alt=""></a>
              </div>
            </div>
            <div class="item-cards__grid-right-block4">
              <div class="item-card__grid-right-text">
                Розетки и выключатели
              </div>
              <div class="item-card__grid-right-action l4">
                <span>Перейти в каталог</span>
                <a class="item-card__grid-right-action-link" href=""><img src="/assets/Frame_20.svg" alt=""></a>
              </div>
            </div>
        </div>
    </div>
    
   

    <div class="item-cards__grid-popular"> <!--flex column-->
        <div class="item-cards__grid-title">Популярные товары</div>
        <div class="item-cards__grid-popular-content"><!--flex row-->
            <div class="item-cards__grid-popular-content-element"><!--position relative-->
               <!--flex column-->
               <div class="item-cards__grid-popular-sale">
                <img style="width: 100%; height: 100%;" src="/assets/sale.svg" alt="">
              </div>
              <div class="item-cards__grid-popular-fav">
                <img style="width: 100%; height: 100%;" src="/assets/fav_icon.svg" alt="">
                <!--2 sections-->
              </div><!--position absolute-->
                <div class="item-cards__grid-popular-img">
                  <img style="width: 100%; height: 100%;" src="/assets/dw.png" alt="">
                </div>
                <div class="item-cards__grid-popular-info">
                  <div class="item-cards__grid-popular-info s1">
                      <span style="font-size: 20px;">Круг зачистной 125x6x22</span>
                      <span style="font-size: 16px;">Артикул 00004</span>
                  </div>

                  <div class="item-cards__grid-popular-info s1">
                      <span style="color: #A1A0A0;">Цена за штуку</span>
                      <div class="item-cards__grid-popular-info s1l2">
                          <span>52 руб.</span>
                          <span>48 руб.</span>
                      </div>
                  </div>
                  
                  
                  <div class="item-card__2cart">
                      <div>
                          <span style="font-size: 16px;">Количество</span>
                          <div class="item-card__2cart-section">
                              <button class="item-card__button qtt-btn">+</button>
                              <span style="padding-left: 7px; padding-right: 7px;">1</span>
                              <button class="item-card__button qtt-btn">-</button>
                          </div>
                      </div>
                      <div>
                          <button class="item-card__add2cart-btn">
                              В корзину
                          </button>
                      </div>
                      <div></div>
                  </div>
                  <!--4 sections-->
                </div>
            </div>
            <div class="item-cards__grid-popular-content-element"><!--position relative-->
              <!--flex column-->
              <div class="item-cards__grid-popular-sale">
               <img style="width: 100%; height: 100%;" src="/assets/sale.svg" alt="">
             </div>
             <div class="item-cards__grid-popular-fav">
               <img style="width: 100%; height: 100%;" src="/assets/fav_icon.svg" alt="">
               <!--2 sections-->
             </div><!--position absolute-->
               <div class="item-cards__grid-popular-img">
                 <img style="width: 100%; height: 100%;" src="/assets/dw.png" alt="">
               </div>
               <div class="item-cards__grid-popular-info">
                 <div class="item-cards__grid-popular-info s1">
                     <span style="font-size: 20px;">Круг зачистной 125x6x22</span>
                     <span style="font-size: 16px;">Артикул 00004</span>
                 </div>

                 <div class="item-cards__grid-popular-info s1">
                     <span style="color: #A1A0A0;">Цена за штуку</span>
                     <div class="item-cards__grid-popular-info s1l2">
                         <span>52 руб.</span>
                         <span>48 руб.</span>
                     </div>
                 </div>
                 
                 
                 <div class="item-card__2cart">
                     <div>
                         <span style="font-size: 16px;">Количество</span>
                         <div class="item-card__2cart-section">
                             <button class="item-card__button qtt-btn">+</button>
                             <span style="padding-left: 7px; padding-right: 7px;">1</span>
                             <button class="item-card__button qtt-btn">-</button>
                         </div>
                     </div>
                     <div>
                         <button class="item-card__add2cart-btn">
                             В корзину
                         </button>
                     </div>
                     <div></div>
                 </div>
                 <!--4 sections-->
               </div>
           </div>


           <div class="item-cards__grid-popular-content-element"><!--position relative-->
            <!--flex column-->
            <div class="item-cards__grid-popular-sale">
             <img style="width: 100%; height: 100%;" src="/assets/sale.svg" alt="">
           </div>
           <div class="item-cards__grid-popular-fav">
             <img style="width: 100%; height: 100%;" src="/assets/fav_icon.svg" alt="">
             <!--2 sections-->
           </div><!--position absolute-->
             <div class="item-cards__grid-popular-img">
               <img style="width: 100%; height: 100%;" src="/assets/dw.png" alt="">
             </div>
             <div class="item-cards__grid-popular-info">
               <div class="item-cards__grid-popular-info s1">
                   <span style="font-size: 20px;">Круг зачистной 125x6x22</span>
                   <span style="font-size: 16px;">Артикул 00004</span>
               </div>

               <div class="item-cards__grid-popular-info s1">
                   <span style="color: #A1A0A0;">Цена за штуку</span>
                   <div class="item-cards__grid-popular-info s1l2">
                       <span>52 руб.</span>
                       <span>48 руб.</span>
                   </div>
               </div>
               
               
               <div class="item-card__2cart">
                   <div>
                       <span style="font-size: 16px;">Количество</span>
                       <div class="item-card__2cart-section">
                           <button class="item-card__button qtt-btn">+</button>
                           <span style="padding-left: 7px; padding-right: 7px;">1</span>
                           <button class="item-card__button qtt-btn">-</button>
                       </div>
                   </div>
                   <div>
                       <button class="item-card__add2cart-btn">
                           В корзину
                       </button>
                   </div>
                   <div></div>
               </div>
               <!--4 sections-->
             </div>
         </div>



         <div class="item-cards__grid-popular-content-element"><!--position relative-->
          <!--flex column-->
          <div class="item-cards__grid-popular-sale">
           <img style="width: 100%; height: 100%;" src="/assets/sale.svg" alt="">
         </div>
         <div class="item-cards__grid-popular-fav">
           <img style="width: 100%; height: 100%;" src="/assets/fav_icon.svg" alt="">
           <!--2 sections-->
         </div><!--position absolute-->
           <div class="item-cards__grid-popular-img">
             <img style="width: 100%; height: 100%;" src="/assets/dw.png" alt="">
           </div>
           <div class="item-cards__grid-popular-info">
             <div class="item-cards__grid-popular-info s1">
                 <span style="font-size: 20px;">Круг зачистной 125x6x22</span>
                 <span style="font-size: 16px;">Артикул 00004</span>
             </div>

             <div class="item-cards__grid-popular-info s1">
                 <span style="color: #A1A0A0;">Цена за штуку</span>
                 <div class="item-cards__grid-popular-info s1l2">
                     <span>52 руб.</span>
                     <span>48 руб.</span>
                 </div>
             </div>
             
             
             <div class="item-card__2cart">
                 <div>
                     <span style="font-size: 16px;">Количество</span>
                     <div class="item-card__2cart-section">
                         <button class="item-card__button qtt-btn">+</button>
                         <span style="padding-left: 7px; padding-right: 7px;">1</span>
                         <button class="item-card__button qtt-btn">-</button>
                     </div>
                 </div>
                 <div>
                     <button class="item-card__add2cart-btn">
                         В корзину
                     </button>
                 </div>
                 <div></div>
             </div>
             <!--4 sections-->
           </div>
       </div>
            

       
            <!--end-->
        </div>

    </div>

    

    <div class="banner-section">
        <div class="static-banner__background">
              <div class="static-banner">
                <div class="static-banner__text">
                    <span class="banner-section__text-first-title">БОЛЕЕ 10 000 НАИМЕНОВАНИЙ</span>
                    <span class="banner-section__text-second-title">инструмент для вашего бизнеса, разнообразных марок</span>
                </div>

                <a style="color: #F0BA4E; font-size: 18px;" href="">Перейти в каталог</a>
              </div>
        </div>
    </div>
    
    <div class="item-cards__grid-popular"> <!--flex column-->
      <div class="item-cards__grid-title">Новинки</div>
      <div class="item-cards__grid-popular-content"><!--flex row-->
          <div class="item-cards__grid-popular-content-element"><!--position relative-->
             <!--flex column-->
             <div class="item-cards__grid-popular-sale">
              <img style="width: 100%; height: 100%;" src="/assets/sale.svg" alt="">
            </div>
            <div class="item-cards__grid-popular-fav">
              <img style="width: 100%; height: 100%;" src="/assets/fav_icon.svg" alt="">
              <!--2 sections-->
            </div><!--position absolute-->
              <div class="item-cards__grid-popular-img">
                <img style="width: 100%; height: 100%;" src="/assets/dw.png" alt="">
              </div>
              <div class="item-cards__grid-popular-info">
                <div class="item-cards__grid-popular-info s1">
                    <span style="font-size: 20px;">Круг зачистной 125x6x22</span>
                    <span style="font-size: 16px;">Артикул 00004</span>
                </div>

                <div class="item-cards__grid-popular-info s1">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="item-cards__grid-popular-info s1l2">
                        <span>52 руб.</span>
                        <span>48 руб.</span>
                    </div>
                </div>
                
                
                <div class="item-card__2cart">
                    <div>
                        <span style="font-size: 16px;">Количество</span>
                        <div class="item-card__2cart-section">
                            <button class="item-card__button qtt-btn">+</button>
                            <span style="padding-left: 7px; padding-right: 7px;">1</span>
                            <button class="item-card__button qtt-btn">-</button>
                        </div>
                    </div>
                    <div>
                        <button class="item-card__add2cart-btn">
                            В корзину
                        </button>
                    </div>
                    <div></div>
                </div>
                <!--4 sections-->
              </div>
          </div>
          <div class="item-cards__grid-popular-content-element"><!--position relative-->
            <!--flex column-->
            <div class="item-cards__grid-popular-sale">
             <img style="width: 100%; height: 100%;" src="/assets/sale.svg" alt="">
           </div>
           <div class="item-cards__grid-popular-fav">
             <img style="width: 100%; height: 100%;" src="/assets/fav_icon.svg" alt="">
             <!--2 sections-->
           </div><!--position absolute-->
             <div class="item-cards__grid-popular-img">
               <img style="width: 100%; height: 100%;" src="/assets/dw.png" alt="">
             </div>
             <div class="item-cards__grid-popular-info">
               <div class="item-cards__grid-popular-info s1">
                   <span style="font-size: 20px;">Круг зачистной 125x6x22</span>
                   <span style="font-size: 16px;">Артикул 00004</span>
               </div>

               <div class="item-cards__grid-popular-info s1">
                   <span style="color: #A1A0A0;">Цена за штуку</span>
                   <div class="item-cards__grid-popular-info s1l2">
                       <span>52 руб.</span>
                       <span>48 руб.</span>
                   </div>
               </div>
               
               
               <div class="item-card__2cart">
                   <div>
                       <span style="font-size: 16px;">Количество</span>
                       <div class="item-card__2cart-section">
                           <button class="item-card__button qtt-btn">+</button>
                           <span style="padding-left: 7px; padding-right: 7px;">1</span>
                           <button class="item-card__button qtt-btn">-</button>
                       </div>
                   </div>
                   <div>
                       <button class="item-card__add2cart-btn">
                           В корзину
                       </button>
                   </div>
                   <div></div>
               </div>
               <!--4 sections-->
             </div>
         </div>


         <div class="item-cards__grid-popular-content-element"><!--position relative-->
          <!--flex column-->
          <div class="item-cards__grid-popular-sale">
           <img style="width: 100%; height: 100%;" src="/assets/sale.svg" alt="">
         </div>
         <div class="item-cards__grid-popular-fav">
           <img style="width: 100%; height: 100%;" src="/assets/fav_icon.svg" alt="">
           <!--2 sections-->
         </div><!--position absolute-->
           <div class="item-cards__grid-popular-img">
             <img style="width: 100%; height: 100%;" src="/assets/dw.png" alt="">
           </div>
           <div class="item-cards__grid-popular-info">
             <div class="item-cards__grid-popular-info s1">
                 <span style="font-size: 20px;">Круг зачистной 125x6x22</span>
                 <span style="font-size: 16px;">Артикул 00004</span>
             </div>

             <div class="item-cards__grid-popular-info s1">
                 <span style="color: #A1A0A0;">Цена за штуку</span>
                 <div class="item-cards__grid-popular-info s1l2">
                     <span>52 руб.</span>
                     <span>48 руб.</span>
                 </div>
             </div>
             
             
             <div class="item-card__2cart">
                 <div>
                     <span style="font-size: 16px;">Количество</span>
                     <div class="item-card__2cart-section">
                         <button class="item-card__button qtt-btn">+</button>
                         <span style="padding-left: 7px; padding-right: 7px;">1</span>
                         <button class="item-card__button qtt-btn">-</button>
                     </div>
                 </div>
                 <div>
                     <button class="item-card__add2cart-btn">
                         В корзину
                     </button>
                 </div>
                 <div></div>
             </div>
             <!--4 sections-->
           </div>
       </div>



       <div class="item-cards__grid-popular-content-element"><!--position relative-->
        <!--flex column-->
        <div class="item-cards__grid-popular-sale">
         <img style="width: 100%; height: 100%;" src="/assets/sale.svg" alt="">
       </div>
       <div class="item-cards__grid-popular-fav">
         <img style="width: 100%; height: 100%;" src="/assets/fav_icon.svg" alt="">
         <!--2 sections-->
       </div><!--position absolute-->
         <div class="item-cards__grid-popular-img">
           <img style="width: 100%; height: 100%;" src="/assets/dw.png" alt="">
         </div>
         <div class="item-cards__grid-popular-info">
           <div class="item-cards__grid-popular-info s1">
               <span style="font-size: 20px;">Круг зачистной 125x6x22</span>
               <span style="font-size: 16px;">Артикул 00004</span>
           </div>

           <div class="item-cards__grid-popular-info s1">
               <span style="color: #A1A0A0;">Цена за штуку</span>
               <div class="item-cards__grid-popular-info s1l2">
                   <span>52 руб.</span>
                   <span>48 руб.</span>
               </div>
           </div>
           
           
           <div class="item-card__2cart">
               <div>
                   <span style="font-size: 16px;">Количество</span>
                   <div class="item-card__2cart-section">
                       <button class="item-card__button qtt-btn">+</button>
                       <span style="padding-left: 7px; padding-right: 7px;">1</span>
                       <button class="item-card__button qtt-btn">-</button>
                   </div>
               </div>
               <div>
                   <button class="item-card__add2cart-btn">
                       В корзину
                   </button>
               </div>
               <div></div>
           </div>
           <!--4 sections-->
         </div>
     </div>

          <!--end-->
      </div>

  </div>
    
  </div>
</div>

<div class="footer-container">
  <div class="footer-body-wrapper"> <!--for del-->



    <div class="footer-body">
      <div class="footer-body__left-element">
        <div>
          <img src="/assets/Frame.svg" alt="">
        </div>
        <div class="footer-body__left-element-first-level">
          <div class="footer-body__left-element a1">
            <div class="footer-body__left-element a2">
                <div><img src="/assets/call-calling.svg" alt=""></div>
                <span>Контактный телефон</span>
            </div>
            <div class="footer-body__left-element b2">
                <div>+ 7 (812) 309-09-34</div>
                <div>+ 7 (965) 084-29-09</div>
            </div>
            
            </div>
            <div class="footer-body__left-element a1">
              <div class="footer-body__left-element a2">
                  <div><img src="/assets/call-calling.svg" alt=""></div>
                  <span>Электронная почта</span>
              </div>
              <div class="footer-body__left-element b2">
                  <div>tustin78&#64;mail.ru</div>
                  <div>info&#64;tustin.ru</div>
              </div>
              
            </div>
        </div>
        
    </div>
    <div class="footer-body__right-element">
        <div class="footer-body__right-element a1">Остались вопросы?</div>
        <div class="footer-body__right-element a2">
          <span style="font-size: 14px;">Узнавайте первым о скидках, предложениях и событиях еженедельно в </span>
          <span style="font-size: 14px;">своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.  </span>
        </div>
        <div class="footer-body__right-element a3">
            <div class="email-txtbx-div">
              <img style="width: 16px; height: 16px;" src="/assets/sms.svg" alt="">
              <input class="email-txtbx" type="text" placeholder="Введите свою почту">
            </div>
            
            <button class="email-sbmt-btn">Отправить</button>
        </div>
    </div>
    
      
    </div>

    <div class="footer-body a2">
      <div class="footer-body a3">
            <a class="footer-link-element" href=""><span>Главная</span></a>
            <a class="footer-link-element" href=""><span>О компании</span></a>
            <a class="footer-link-element" href=""><span>Каталог</span></a>
      </div>

      <div class="footer-body-a4">
          <div class="footer-body-a4 soc-links">
                <a href="">
                  <img src="/assets/mini-button1.svg" alt="">  
                </a>
                <a href="">
                  <img src="/assets/mini-button2.svg" alt="">
                </a>
                <a href="">
                  <img src="/assets/mini-button3.svg" alt="">
                </a>
          </div>
          <div class="footer-copyright">
            <span>© 2021-2022, EDE</span>
          </div>
      </div>
      
    </div>

  </div> <!--for del-->
    
</div>

<router-outlet></router-outlet>