:root {
  font-family: Inter;
  --container-width: 1320px;
  --container-padding-x: 15px;
}

html, body {
  font-family: Inter;
 width: 100%;
 height: 100%;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding-x)));
  margin-inline: auto ;
  padding-inline: var(--container-padding-x);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.call {
  margin-right: 40px ;
  margin-left: 10px;
  font-family: Inter;
  display: flex;
  align-items: center;
}

.tel {
  text-decoration: none;
  color: white;
  margin: 5px;
}

.nav-container {
  display: flex;
  width: 1320px;
  height: 128px;
  display: flex;
  justify-content: space-between;
}

.menu-items-container {
  font-family: Inter;
  display: flex;
  justify-content: start;
  align-items: center;
}

.map {
  display: flex;
  color: #fff;
}

.map-pin {
  margin-right: 4px;
}

.moscow {
  font-family: Inter;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  margin-left: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.white-color{
  color: #FBFBFB;
}

.header-info-container{
  display: flex;
  align-items: center;
  margin-left: 40px;
  justify-content: center;
}

.cart-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 125px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #F0BA4E;
  background-color: #4B565E;
  color: white;
  cursor: pointer;
}

header {
  background-color: #4B565E;
}

.search-input {
  margin-left: 130px;
  margin-right: 24px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 400px;
  height: 28px;
  background: url("/assets/search.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.second-nav{
  background: #F0BA4E;
  display: flex;
  justify-content: center;
}

.second-nav-container {
  width: 1320px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slogan {
  width: 543px;
  height: 112px;
  position: absolute;
  font-family: Inter; 
  color: #F0BA4E;
  font-weight: 700;
  font-size: 40px;
  margin: 304px 215px 304px 300px;
}

.advantage{
  display: flex;
  align-items: center;
}

.advantages{
  display: flex;
  margin: 28px auto;
  display: flex;
  width: 1319px;
  height: 72px;
}

.advantage-text{
  width: 333px;
  height: 66px;
  margin-left: 16px;
}

.advantage-text-title{
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.item-cards {
  width: 1319px;
  height: 72px;
  display: flex;
  justify-content: end;
  margin: 28px auto;
}

.item-cards__pagination {
  display: flex;
    &-button {
      font-family: Inter;
      border: none;
      background-color: white;
      color: #A1A0A0;
    &:first-child {
      color: #F0BA4E;
      font-weight: 600;
    }
  }
}

.cells{
  display: flex;
  margin: 26px auto;
  width: 1320px;
  height: 421px;
}

.cell-left{
  display: flex;
  background-color: #fff;
  background-image: url(/assets/1.png) ;
  background-repeat: no-repeat;
  background-position-y: bottom ;
  display: flex;
  width: 428px;
  height: 421px;
}

.cell-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-one {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #3C3C3B;
  margin-bottom: 16px;
  margin-left: 235px;
}

.catalog-three{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #3C3C3B;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.cell-left-title{
  white-space: nowrap;
  padding: 16px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: left;
  color: #3C3C3B;
}

.cells-right {
  margin: 0;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  flex-wrap: wrap;
  height: auto;
  width: 825px;
  height: 421px;
  margin-left: 28px;
}

.text-block {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
}

.group-item-five {
  background-image: url(/assets/image15.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.group-item-title{
  padding: 16px 16px 0 16px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: left;
  color: #3C3C3B;
}

.text-decoration {
  white-space: nowrap;
}

.catalog {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.catalog-text {
  font-family: Inter;
  color: #3C3C3B;
  white-space: nowrap;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.group-item {
  overflow: hidden;
  display: flex;
  width: 421px;
  height: 200px;
}

.catalog-five{
  margin-left: 195px;
  margin-top: 92px;
}

.cell-right-block-three{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.arrow-left {
  background-image: url(/assets/arrowleft.jpg);
  cursor: pointer;
}

.popular-items {
  width: 1421px;
 margin: 56px auto;
}

.popular-items-text{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.popular-items-text-title {
  font-family: Inter;
  font-weight: 500;
  font-size: 28px;
  color: #000;
}

.seeallitems {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  color: #F0BA4E;
}

.circle-items {
  display: flex;
}

.circle-items-buy{
  margin-left: 26px;
  padding: 26px; 
  width: 309px;
  height: 429px;
}

.circle {
  padding-bottom: 8px;
}

.circle-size {
  margin: 0;
  font-family: Inter;
  font-weight: 600;
  size: 20px;
  color: #3C3C3B;
}

.circle-article{
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
}

.circle-price-text {
  margin-top: 0px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #A1A0A0;
}

.price {
  display: flex;
}

.old-price {
  text-decoration: line-through;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
}

.new-price {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  margin-left: 16px;
}

.buy {
  display: flex;
}

.how-quantry-container {
  display: flex;
}

.quantry-block {
  display: flex;
}

.button-buy {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  margin: 3px 3px 3px 12px ;
  background-color: #fff;
  color: #3C3C3B;
  padding: 14px 28px;
  border-radius: 54px;
  border: 1px solid;
  border-color: #F0BA4E;
}

.quantry-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #3C3C3B;
}

.how-quantry {
  display: flex;
  align-items: center;
  margin: 0 16px;
  font-family: Inter;
  font-weight: 400;
  size: 16px;
  color: #3C3C3B;
}

.names {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1320px;
  height: 251px;
  background-color: #F6F6F6;
  justify-content: space-between;
}

.names-text {
  padding: 28px ;
  font-family: Inter;
  display: flex;
  flex-direction: column;
}

.names-text-one {
  text-transform: uppercase;
  color: #3C3C3B;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 16px;
}

.names-text-two {
  color: #A1A0A0;
  font-weight: 400;
  font-size: 20px;
  margin-bottom:99px ;
}

.shadow{
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.2);
}

.names-text-trhee {
  font-size: 18px;
  font-weight: 600;
  color: #F0BA4E;
}

footer {
  width: 1920px;
  height: 373px;
  background-color: #4B565E;
}

.basement{
  margin: 0 auto;
  width: 1320px;
  height: 373px;
}

.connection {
  margin-top: 32px;
  margin-left: 300px;
  display: flex;
  width: 394px;
  height: 73px;
}

.information {
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  padding: 34px 0 0 0;
  margin-left: 300px;
}

.call-footer {
  width: 24px;
  height: 24px;
}

.contact-tel{
  white-space: nowrap;
  margin-left: 12px;
}

.contact-tel-text {
  font-size: 12px;
  color: #FFFFFF99;
}

.telephone{
  margin-top: 8px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.contact-sms {
  margin-left: 12px;
}

.contact-sms-text {
  font-size: 12px;
  color: #FFFFFF99;
}

.sms{
  margin-left: 56px;
  width: 24px;
  height: 24px;
}

.sms-one {
  margin-top: 8px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.sms-two{
  margin-top: 8px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.questions {
  margin-right: 300px;
  width: 534px;
  height: 82px;
  display: flex;
  flex-direction: column;
}

.question{
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.comment{
  margin-top: 12px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color:  #FFFFFF99;
}

.input {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  height: 48px;
  border: 1px solid #F0BA4E;
  border-radius: 30px;
}

.input-mail {
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.input-question {
  margin-left: 5px;
  background: transparent;
  border: none;
}

.send{
  display: flex;
  align-items: center;
  margin: 6px 6px 6px 0 ;
  padding: 12px 19px;
  width: 94px;
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12.1px;
  text-align: center;
  background-color: #F0BA4E;
  border-radius: 30px;
  cursor: pointer;
}

.footer-menu-text {
  margin-top: 86px;
  margin-left: 300px;
  display: flex;
  width: 249px;
  justify-content: space-between;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.last-nav {
  display: flex;
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  width: 1320px;
  padding-bottom: 32px;
}

.social-icons {
  margin-top: 36px;
  display: flex;
  width: 112px;
  justify-content: space-between;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #fff;
}
