<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@300;500;900&display=swap"
    rel="stylesheet">

</head>
<body> 
  <div class="header_time">
    <p class="header_time">{{ dateObj | date:'medium' }}</p>
  </div>
    <div class="header">
      <div class="header__left">
        <div class="header__logo"><img src="../assets/Frame.svg" alt="logo"></div>
        <nav class="header__up">
          <a routerLink="/main" class="nav__item">{{headerItem1}}</a>
          <div class="nav__item">{{aboutCompany}}</div>
          <div class="nav__item" *ngIf="isShowCatalog">{{headerItem3}}</div>
          <button (click)="isShowCatalog = !isShowCatalog">Скрыть/Показать каталог</button>
          <button (click)="changeMenuText()">Большой/Маленький шрифт</button>
        </nav>
      </div>
      <div class="header__right">
        <div class="header__phone">
          <img src="../assets/Phone.png" alt="phone" class="phone__img">
          <p style="font-family: Inter;">+7 (965) 084-29-29</p>
        </div>
        <img src="../assets/heart 1.svg" alt="heart" class="heart">
        <button active class="basket">
          <img src="../assets/cart.svg" alt="" class="basket__img">
          <p class="basket__txt">Пусто</p>
        </button>
      </div>
    </div>
    <div class="header__low">
      <div class="hl_left">
        <div class="catalog">
          <img src="../assets/light.svg" alt="" class="catalog__img">
          
          
        </div>
        <nav class="nav__header__low">
          <div class="hl__item" *ngFor="let item of menuItems">{{item}}</div>
        </nav>
      </div>
      <div class="hl__right">
        <button routerLink="/users">Админка</button>
        <input type="text" placeholder="Поиск, например Круг зачистной " class="hl__input">
        <div class="location">
          <img src="../assets/map-pin (2) 1.svg" alt="" class="location__img">
          <p class="location__txt">Москва</p>
        </div>
      </div>
    </div>
    <!-- <button (click)="isShowPromo = !isShowPromo">Открыть/Скрыть фото</button>
    <div class="promo">
      <img src="../assets/баннер.png" alt="" class="promo" *ngIf="isShowPromo">
    </div>
    <div class="container">
      <div class="shop__pluss">
        <div class="shop__pluss__item">
          <div class="shop__pluss__item__logo"><img src="../assets/32.png" alt="" class="spi__logo"></div>
          <div class="shop__pluss__item__txt"><span class="bold__txt">Большой ассортимент</span><br>
          строительных материалов всегда в наличии</div>
        </div>
        <div class="shop__pluss__item">
          <div class="shop__pluss__item__logo"><img src="../assets/33.png" alt="" class="spi__logo"></div>
          <div class="shop__pluss__item__txt"><span class="bold__txt">Доставка стройматериалов</span><br>
          в течении четырех часов или в любое удобное время</div>
        </div>
        <div class="shop__pluss__item">
          <div class="shop__pluss__item__logo"><img src="../assets/34.png" alt="" class="spi__logo"></div>
          <div class="shop__pluss__item__txt">Многоуровневая <span class="bold__txt">система<br> управления качеством</span> по стандарту ISO 9001</div>
        </div>
      </div>
      <div class="product">
        <div class="product__page">
          <button *ngFor="let item of newPages" class="product__page__btn">{{item}}</button>
        </div>
        <div class="product__assort">
          <div class="product__assort__big pa__item">
            <h2 class="pab__name">Строительный отделочный инструмент</h2>
            <div class="pab__action">
              <p class="pab__action__txt">Перейти в каталог</p>
              <button class="pab__action__btn"><img src="../assets/Arrow 6.svg" alt=""></button>
            </div>
          </div>
          <div class="product__assort__smalls">
            <div class="pas__item pi__1">
              <h2 class="pas__name">Эмали</h2>
              <div class="pas__action">
                <p class="pab__action__txt">Перейти в каталог</p>
                <button class="pab__action__btn"><img src="../assets/Arrow 6.svg" alt=""></button>
              </div>
            </div>
            <div class="pas__item pi__2">
              <h2 class="pas__name">Лакокрасочные<br> материалы</h2>
              <div class="pas__action">
                <p class="pab__action__txt">Перейти в каталог</p>
                <button class="pab__action__btn"><img src="../assets/Arrow 6.svg" alt=""></button>
              </div>
            </div>
            <div class="pas__item pi__3">
              <h2 class="pas__name">Пены, клеи и<br> герметики</h2>
              <div class="pas__action">
                <p class="pab__action__txt">Перейти в каталог</p>
                <button class="pab__action__btn"><img src="../assets/Arrow 6.svg" alt=""></button>
              </div>
            </div>
            <div class="pas__item pi__4">
              <h2 class="pas__name__4 pas__name">Розетки и выключатели</h2>
              <div class="pas__action">
                <p class="pab__action__txt">Перейти в каталог</p>
                <button class="pab__action__btn"><img src="../assets/Arrow 6.svg" alt=""></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <router-outlet></router-outlet>
</body>
</html>