.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    color: #F9FAFB;
    background-color:#4B565E;
    padding: 0 240px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo{
    margin-right: 40px;
}

.header-nav{
    display: flex;
}

.header-nav-item{
    margin-right: 24px;
    color: #F9FAFB;
}

.header-right{
    display: flex;
    align-items: center;
}

.phone-number{
    color: #ffffff;
    margin-right: 40px;
    margin-left: 10px;
}

.cart{
    display: flex;
    align-items: center;
    color: #F9FAFB;
    border: 2px #F0BA4E;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    background-color: #4B565E;
    margin-left: 40px;
}

.empty{
    display: flex;
    margin-left: 10px;
    font-weight: 500;
}

.heart{
    display: flex;
}

.header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background-color: #F0BA4E;
    padding: 0 240px;
    color: #3C3C3B;
}

.header-2-left{
    display: flex;
    align-items: center;
}

.menu{
    margin-right: 10px;
}

.header-2-nav-item{
    margin-right: 25px;
}

.header-2-right{
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.search{
    display: block;
    align-items: center;
    margin-right: 24px;
    width: 400px;
    border: none;
    background-color: #F0BA4E;
    border-bottom: 1px solid #3C3C3B;
}

.country{
    border: none;
    background-color: #F0BA4E;
    color: #ffffff;
}
