<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="/assets/Frame.svg" alt="Логотип сайта">
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">Главная</div>
      <div class="header-nav-item">О компании</div>
      <div class="header-nav-item">Каталог</div>
    </nav>
  </div>
  <div class="header-right">
    <img src="/assets/Phone.svg">
    <div class="Phone">+7 (965) 084-29-29</div>
    <img
      class="header-info-items"
      src="/assets/Heart.svg"
      alt="Favorites"
    >
    <button
      class="header-info-items card-button">
      <img src="assets/basket.svg" alt="корзина">
      <div>
        Пусто
      </div>
    </button>
  </div>
</div>
<div class="header-bottom">
  <div class="header-bottom-left">
    <div class="header-bottom-menu">
      <img src="/assets/menu.svg" alt="Каталог">
      <div class="menu">Каталог</div>
    </div>
    <nav class="header-bottom-nav">
      <div class="header-bottom-nav-item">Стройматериалы</div>
      <div class="header-bottom-nav-item">Инструменты</div>
      <div class="header-bottom-nav-item">Электрика</div>
      <div class="header-bottom-nav-item">Интерьер и одежда</div>
    </nav>
  </div>
  <div class="header-bottom-right">
    <input class="search-input" type="text" placeholder="Поиск, например Круг зачистной">
    <div class="location">
      <img src="/assets/location.svg">
      <div class="location-city">Москва</div>
    </div>
  </div>
</div>
