<<<<<<< HEAD
=======
/*
  Использование:
  @include clear-button;
*/

@mixin clear-button {
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

@mixin clear-input {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  outline: none;
}

/*
    Использование:
    @include clear-list;
  */

@mixin clear-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
>>>>>>> 7977310 (Подкоректировал глобальные стили)
=======
>>>>>>> 8094ca375be7874707805f162a646ac69d12b19a
