<div class="card-task">
  <p class="text">ТЕКСТ ЗАДАЧИ</p>
  <p class="text-task">{{ todo.title }}</p>
  <p class="text">АВТОР ЗАДАЧИ</p>
  <div>{{ todo.userId }}</div>
  <p class="text">ЗАДАЧА ЗАВЕРШЕНА:</p>
  <div>{{ todo.completed ? "ДА" : "НЕТ" }}</div>
  <div>
    <div class="delete-position">
      <button mat-raised-button (click)="openDeleteTodoDialog()">
       Удалить задачу
      </button>
      <button mat-raised-button (click)="openEditTodoDialog()">
       Редактировать задачу
      </button>
    </div>
  </div>
</div>