.text {
  font-weight: 600;
  color: #3c3c3b;
}

.text-task {
  height: 40px;
}

.delete-position {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-task {
  padding: 10px;
  margin: 15px;
  border: 1px solid #fff;
  border-radius: 8px;
}