<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@300;500;900&display=swap"
        rel="stylesheet">
</head>
<body>

    <button mat-fab extended
        type="button"
        class="create_btn" 
        (click)="openDialog()">
        
        <mat-icon>add</mat-icon>
        СОЗДАТЬ
    
    </button>


    <div class="todoCards">
        <ng-container class="todoCards" *ngFor="let todo of todos$ | async">
            <div class="todoCard">
                <app-todo-card 
                    [todo]="todo" 
                    (deleteTodo)="deleteTodo($event)"
                    (editTodo)='editTodo($event)'>            
                </app-todo-card>
            </div>        
        </ng-container>
    </div>

    <ng-container *ngIf="(todos$ | async)?.length === 0">
        <p>Загрузка...</p>
    </ng-container>



</body>
</html>