.title {
  display: flex; 
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.button-position {
 display: flex;
 margin: 20px auto;
}