<footer>
  <div class="content-container-footer">
    <div class="footer-left">
      <div class="footer-left-logo">
        <img src="/assets/logo.svg" alt="logo" />
      </div>
      <div class="contact-info">
        <div class="contact-info-phone">
          <img src="/assets/phoness.svg" alt="телефон лого" />
          <div class="phone-numbers">
            <span class="phone-numbers-first">Контактный телефон</span>
            <span class="telephones">+ 7 (812) 309-09-34</span>
            <span class="telephones">+ 7 (965) 084-29-09</span>
          </div>
        </div>
        <div class="contact-info-mail">
          <img src="/assets/mail.svg" alt="почта лого" />
          <div class="mail-adresses">
            <span class="mail-first">Электронная почта</span>
            <span class="emails">tustin78&#64;mail.ru</span>
            <span class="emails">info&#64;tustin.ru</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-right">
      <span class="footer-right-first">Остались вопросы?</span>
      <span class="footer-right-second"
        >Узнавайте первым о скидках, предложениях и событиях еженедельно в
        <br />
        своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span
      >
      <div class="email-container">
        <input
          type="email"
          class="email-input"
          placeholder="Введите свою почту"
        />
        <button class="email-button">Отправить</button>
      </div>
    </div>
  </div>
  <div class="content-container-footer-bottom">
    <div class="footer-bottom">
      <nav class="footer-nav">
        <div class="footer-nav-item">Главная</div>
        <div class="footer-nav-item">О компании</div>
        <div class="footer-nav-item">Каталог</div>
      </nav>
    </div>
    <div class="footer-bar">
      <div class="footer-bar-left">
        <img src="/assets/facebook.svg" alt="" />
        <img src="/assets/utub.svg" alt="" />
        <img src="/assets/whatsapp.svg" alt="" />
      </div>
      <span>© 2021-2022, EDE</span>
    </div>
  </div>
</footer>
