
.header {
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: #4B565E
}

.content-container-header {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;
}

.header-left {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.header-logo {
    margin-right: 20px;
}

.header-nav {
    display: flex;
}

.header-nav-item {
    margin-right: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.header-phone {
    display: flex;
    align-items: center;
    
}

.header-phone-logo {
    padding: 10px;
    margin-top: 5px;
}

.header-right-fav {
    padding: 0 30px;
}

.header-cart {
    background-color: #4B565E;
    width: 106px;
    height: 48px;
    border: 1px solid #F0BA4E;
    border-radius: 50px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    display: flex;
    margin-right: 10px;
    
}

.topbar {
    color: #3C3C3B;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: #F0BA4E;
}

.content-container-topbar {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 48px;
}

.topbar-left {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.topbar-catalog {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.topbar-logo {
    margin-top: 5%;
}

.topbar-nav {
    display: flex;
    align-items: center ;
}

.topbar-nav-item1 {
    margin: 24px;
}

.topbar-nav-item {
    margin-right: 24px;
}

.topbar-right {
    display: flex;
    align-items: center;
}

.topbar-input {
    background-color: #F0BA4E;
    background: transparent;
    width: 400px;
    border: none;
    border-bottom: solid #3C3C3B 1px;
}


.topbar-geo {
    display: flex;
    margin-left: 24px;
    color: white;
    font-weight: 500;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
}
