.users_card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  height: 100%;
}

.btn_card {
  font-size: 20px;
  border: 3px solid rgb(235, 235, 6);
  border-radius: 50px;
  padding: 5px;
  color: black;
}
