<h2>Выключить предыдущую прежде чем включить следующую</h2>
<h3>Нажми дважды на кнопку, если не сработало(надо правильно настроить переключение состояний, но я решил, что и так сойдет)</h3>
<div class="buttons">
    <button (click)="doPurse()" class="homework-9">Отобразить только id и username (On/Off)</button>
    <button (click)="getAllEmails()" class="homework-9">Получить из данных выше список всех эмейлов (On/Off)</button>
    <button (click)="getNineUser(9)" class="homework-9">Вывести пользователя с id === 9 (On/Off)</button>
    <button (click)="getUsersCity('Lebsackbury')" class="homework-9">Вывести всех пользователей из города 'Lebsackbury' (On/Off)</button>
    <button (click)="getFirstFiveUsers(5)" class="homework-9">Вывести первых 5 пользователей (On/Off)</button>
    <button (click)="getReversIdUsers()" class="homework-9">Вывести всех пользователей в обратном порядке (On/Off)</button>
    <button (click)="getLengthAllUsers()" class="homework-9">Посчитать сколько всего пользователей (On/Off)</button>
    <button (click)="getComAllUsers('.com')" class="homework-9">Вывести список вебсайтов пользователей которые содержат '.com' (On/Off)</button>
    <button (click)="getLengthAllUsername(12)" class="homework-9">Вывести все username которые длиннее 12 символов (On/Off)</button>
    <button  (click)="purseLowerAllUsername()" class="homework-9">Привести список всех username где каждый будет в нижнем регистре (On/Off)</button>
</div>