.create-form-user {
 margin: 30px 0 30px 0;
 display: flex;
 justify-content: center;
 align-items: center;
}

.create-form {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 400px;
 height: 680px;
 border: 1px solid #fff;
 border-radius: 8px;
 box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.2);
}

.example-width {
width: 350px;
}

.title {
 margin-left: 30px;
 font-family: Inter;
 font-weight: 600;
 color: #3c3c3b;
}

.subtitle {
 margin: 10px;
 font-weight: 600;
 color: #3c3c3b;
}

.button-position{
 display: flex; 
 justify-content: center; 
 align-items: center;
  height: 100vh;}