<form style="padding: 50px" [formGroup]="form" >
 <h1 class="title">Редактировать юзера</h1>
 <p class="subtitle">NAME:</p>
 <mat-form-field class="example-width">
   <mat-label>Введите имя</mat-label>
   <input matInput type="text" formControlName="name" />
 </mat-form-field>
 <mat-error
 >
   Слишком короткое имя
 </mat-error>
 <p class="subtitle">EMAIL:</p>
 <mat-form-field class="example-width">
   <mat-label>Введите email{{ "@" }}</mat-label>
   <input matInput type="text" formControlName="email"
 /></mat-form-field>
 <mat-error
 >
   Email должен содержать больше 3-х символов и {{ "@" }}
 </mat-error>
 <p class="subtitle">WEBSITE:</p>
 <mat-form-field class="example-width">
   <mat-label>Введите веб-сайт</mat-label>
   <input matInput type="text" formControlName="website"
 /></mat-form-field>
 <mat-error
 >
   Поле заполнено некорректно
 </mat-error>
 <p class="subtitle">COMPANY NAME:</p>
 <mat-form-field class="example-width" formGroupName="company">
   <mat-label>Введите название компании</mat-label>
   <input matInput type="text" formControlName="name" />
 </mat-form-field>
 <mat-error
 >
   Поле заполнено некорректно
 </mat-error>
 <div class="button-position" >
  <button mat-button [mat-dialog-close]>Закрыть</button>
  <button mat-raised-button type="submit" [disabled]="form.invalid" [mat-dialog-close]="userWithUpdatedFields">Редактировать</button>
 </div>
</form>