<div class="container">
  <button
    class="user-list-create-bautton"
    mat-raised-button
    color="pattern"
    (click)="createUser()"
  >
    Создать User
  </button>
</div>
<div class="container">
  <div style="display: flex; flex-wrap: wrap; gap: 20px; padding: 30px 0">
    <mat-card *ngFor="let user of users$ | async" class="goods">
      <mat-card-content>
        <app-user-card
          [user]="user"
          (userCardEdit)="editUser($event)"
          (userCardDelete)="deleteUser($event)"
        ></app-user-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
