.create-form {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 400px;
 height: 680px;
 border: 1px solid #fff;
 border-radius: 8px;
}

.example-width {
width: 350px;
}

.title {
 margin-left: 30px;
 font-family: Inter;
 font-weight: 600;
 color: #3c3c3b;
}

.subtitle {
 margin: 10px;
 font-weight: 600;
 color: #3c3c3b;
}

.create-button-position {
 margin-top: 25px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.button-position {
 display: flex;
 margin: 20px auto;
}