<div class="create-form-user">
 <div class="create-form">
   <form [formGroup]="form" >
     <h1 class="title">CREATE USER FORM</h1>
     <p class="subtitle">NAME:</p>
     <mat-form-field class="example-width">
       <mat-label>Введите имя</mat-label>
       <input matInput type="text" formControlName="name" />
     </mat-form-field>
     <mat-error
     *ngIf="
     form.controls['name'].invalid &&
     (form.controls['name'].dirty || form.controls['name'].touched)
   "
     >
       Слишком короткое имя
     </mat-error>
     <p class="subtitle">EMAIL:</p>
     <mat-form-field class="example-width">
       <mat-label>Введите email</mat-label>
       <input matInput type="text" formControlName="email" />
     </mat-form-field>
     <mat-error
     *ngIf="
     form.controls['email'].invalid &&
     (form.controls['email'].dirty || form.controls['email'].touched)
   "
     >
       Email должен содержать больше 3-х символов и {{ "@" }}
     </mat-error>
     <p class="subtitle">WEBSITE:</p>
     <mat-form-field class="example-width">
       <mat-label>Введите веб-сайт</mat-label>
       <input matInput type="text" formControlName="website" />
     </mat-form-field>
     <mat-error
     *ngIf="
     form.controls['website'].invalid &&
     (form.controls['website'].dirty || form.controls['website'].touched)
   "
     >
       Поле заполнено некорректно
     </mat-error>
     <p class="subtitle">COMPANY NAME:</p>
     <mat-form-field class="example-width" formGroupName="company">
       <mat-label>Введите название компании</mat-label>
       <input matInput type="text" formControlName="name" />
     </mat-form-field>
     <mat-error
     *ngIf="
     form.controls['name'].invalid &&
     (form.controls['name'].dirty ||
       form.controls['name'].touched)
   "
     >
       Поле заполнено некорректно
     </mat-error>
     <div class="create-button-position">
      <button mat-button [mat-dialog-close]>Закрыть</button>
       <button type="submit" (click)="submitForm()" mat-raised-button [disabled]="form.invalid">Создать</button>
     </div>
   </form>
 </div>
</div>