.confirm__container {
  background-color: antiquewhite;
  padding: 25px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.modal {
  background-color: rgba(0, 0, 0);
}

.modal__dialog {
  background-color: white;
}
