::ng-deep .example-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 240px;
}

::ng-deep .button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    bottom: 16px;
    right: 50px;
    align-self: flex-start;
}