.block_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 20px;
  background-color: #3C3C3B;
}
.text {
  margin-top: 20px;
  color: #efba50;
}

p {
  font-weight: 600;
}

.example-full-width {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.form_button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #efba50;
  background-color: #3C3C3B;
  color: #efba50;
  cursor: pointer;
  &:hover{
    background-color: #efba50;
    color: #3C3C3B;
  }
}
