<form [formGroup]="form"
      style="display: flex; flex-direction: column; width: 300px; justify-content: center; padding: 10px">
  <mat-form-field class="example-full-width">
    <input class="input" formControlName="name" matInput placeholder="Имя пользователя" type="text">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input class="input" formControlName="email" matInput placeholder="Эмаил" type="text">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input class="input" formControlName="company" matInput placeholder="Компания" type="text">
  </mat-form-field>
  <button (click)="onSubmit()" mat-button>Изменить</button>
</form>
