.content-container {
  max-width: 1320px;
  margin: 0 auto;
}

.item-cards__pagination {
  display: flex;
  justify-content: end;

  &-button {
    font-family: "Inter", sans-serif;
    border: none;
    background: none;
    color: #a1a0a0;
  }
}

.active-button {
  color: #f0ba4e;
  font-weight: 600;
}

.item-cards__grid {
  display: flex;
}

.item-cards__grid-left {
  height: 428px;

  box-shadow: 0px 20px 50px 0px #3c3c3b12;
  background-image: url(/assets/image19.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;

  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.item-cards__grid-left-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #3c3c3b;
}

.item-cards__grid-action-right {
  align-self: flex-end;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3c3c3b;
  align-items: center;
  display: flex;
  gap: 10px;
}

.item-cards__grid-right {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.item-cards__grid-right-item-first {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3c3c3b12;
  background-image: url(/assets/image14.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;

  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-first-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #3c3c3b;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.item-cards__grid-right-item-second {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3c3c3b12;
  background-image: url(/assets/image17.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: right;

  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-second-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #3c3c3b;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.item-cards__grid-action-left {
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3c3c3b;
  align-items: center;
  display: flex;
  gap: 10px;
}

.item-cards__grid-right-item-third {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3c3c3b12;
  background-image: url(/assets/image18.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: right;

  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-item-four {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3c3c3b12;
  background-image: url(/assets/image15.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;

  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages-sort {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 421px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.advantages-delivery {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 421px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.advantages-system {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 421px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.grey {
  color: #3c3c3b;
}

.popular-block-container {
  width: 1412px;
  margin: 0 auto;
}

.block-popular {
  max-width: 1320px;
  padding: 0 46px;
}

.block-popular-left-button {
  width: 60px;
  height: 60px;
  position: relative;
  top: 330px;
  border-radius: 36px;
  background-color: white;
  border: white;
}

.block-popular-right-button {
  width: 60px;
  height: 60px;
  position: relative;
  top: 330px;
  left: 1295px;
  border-radius: 36px;
  background-color: white;
  border: white;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.left-text {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
}

.right-text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: right;
  color: #f0ba4e;
}

.pop-cards {
  display: flex;
  justify-content: space-between;
}

.popular-card {
  width: 309px;
  height: 429px;
  top: 62px;
  left: 46px;
  gap: 8px;
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
  padding: 24px;
}

.item-photo {
  width: 261px;
  height: 180px;
  background-image: url(/assets/krug.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.item-sale-fav-icons {
  width: 261px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.popular-card-item-name {
  width: 241px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #3c3c3b;
  text-align: left;
}

.card-content-container {
  width: 261px;
  margin: 0 auto;
}

.popular-card-id {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0%;
  margin-top: 8px;
}

.popular-card-cost {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #a1a0a0;
  margin: 0%;
  margin-top: 20px;
}

.popular-card-price {
  display: flex;
  align-items: center;
  margin: 0%;
  margin-top: 6px;
  gap: 16px;
}

.first-price {
  text-decoration: line-through;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #3c3c3b;
}

.second-price {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #3c3c3b;
}

.popular-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.popular-card-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3b;
}

.popular-card-buy {
  width: 135px;
  height: 47px;
  border-radius: 54px;
  border: 1px solid #f0ba4e;
  background: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3b;
}

.adjust-count {
  font-size: 20px;
  word-spacing: 5px;
  margin-top: 10px;
}

.banner {
  width: 1320px;
  margin: 56px auto;
  height: 251px;
  background: linear-gradient(90deg, #f6f6f6 0%, #f6f6f6 100%);
  display: flex;
  justify-content: space-between;
}

.banner-text {
  padding: 28px;
  padding-top: 0;
}

.banner-text-upper {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #3c3c3b;
  padding-bottom: 16px;
  margin-bottom: 0;
}

.banner-text-middle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #a1a0a0;
  margin-top: 0;
  margin-bottom: 100px;
}

.banner-text-low {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #f0ba4e;
  margin-top: 0;
}
