<footer class="footer">
  <div class="content-container">
    <div class="footer-top">
      <div class="footer-left footer-width">
        <div class="footer-logo">
          <img src="/assets/Frame.svg" alt="" />
        </div>

        <div class="footer-contacts">
          <div class="footer-phone footer-contact">
            <div class="footer-phone-icon">
              <img src="/assets/phone.png" alt="" />
            </div>
            <div class="footer-descr">
              <div class="footer-title">Контактный телефон</div>
              <span>+ 7 (812) 309-09-34</span>
              <span>+ 7 (965) 084-29-09</span>
            </div>
          </div>

          <div class="footer-mail footer-contact">
            <div class="footer-mail-icon">
              <img src="/assets/sms.png" alt="" />
            </div>
            <div class="footer-descr">
              <div class="footer-title">Электронная почта</div>
              <span>tustin78.mail.ru</span>
              <span>info.tustin.ru</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-right footer-width">
        <div class="footer-question">Остались вопросы?</div>
        <p>
          Узнавайте первым о скидках, предложениях и событиях еженедельно в
          своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
        </p>
        <form action="">
          <input placeholder="Введите свою почту" type="text" />
          <button type="button" type="button">Отправить</button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="#">Главная</a>
        <a href="#">О компании</a>
        <a href="#">Каталог</a>
      </div>
      <div class="footer-icons">
        <div class="footer-icons-items">
          <a href="#" class="footer-icon"
            ><img src="/assets/fb.png" alt=""
          /></a>
          <a href="#" class="footer-icon"
            ><img src="/assets/youtube.png" alt=""
          /></a>
          <a href="#" class="footer-icon"
            ><img src="/assets/whatsapp.png" alt=""
          /></a>
        </div>
        <div class="footer-date">© 2021-2022, EDE</div>
      </div>
    </div>
  </div>
</footer>
