<div class="form-container">
  <form class="todo-form" [formGroup]="form" (ngSubmit)="submitForm()">
    <p>ТЕКСТ ЗАДАЧИ:</p>
    <mat-form-field appearance="fill">
      <input matInput class="form-input" type="text" formControlName="title" />
    </mat-form-field>
    <mat-error *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)">
      Текст задачи должен быть заполнен (минимум 4 символа)
    </mat-error>

    <p>АВТОР ЗАДАЧИ:</p>
    <mat-form-field appearance="fill">
      <input matInput class="form-input" type="text" formControlName="userId" />
    </mat-form-field>
    <mat-error *ngIf="form.controls['userId'].invalid && (form.controls['userId'].dirty || form.controls['userId'].touched)">
      Поле автор должно быть заполнено
    </mat-error>

    <p>СТАТУС ЗАДАЧИ:</p>
    <mat-form-field appearance="fill">
      <mat-select class="form-input" formControlName="completed">
        <mat-option [value]="true">да</mat-option>
        <mat-option [value]="false">нет</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="form.controls['completed'].invalid && (form.controls['completed'].dirty || form.controls['completed'].touched)">
      Укажите статус задачи
    </mat-error>

    <div class="button-container">
      <button mat-raised-button class="create-todo-button" [disabled]="form.invalid" matTooltip="Редактировать данные задачи">
        Редактировать
      </button>
      <button mat-raised-button mat-dialog-close>Отмена</button>
    </div>
  </form>
</div>
